{% extends 'aloe-4us-carousel.html' %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Products With a Healthy Promise!: Aloe Vera Provides Benefits for the Skin, Promotes Optimal Digestive Health.. Read More">
    <meta name="keywords" content="aloe nigeria, aloe vera nigeria, discounts, forever living products nigeria, true aloe health nigeria, true aloe health, truealoehealth">
    <meta property="og:title" content="Forever Living Aloe Vera Drinks">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Products With a Healthy Promise!: Aloe Vera Provides Benefits for the Skin, Promotes Optimal Digestive Health.. Read More">
    <meta property="og:image" content="http://truealoehealth.com/static/images/drink.PNG" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block title %}
    Forever Living Aloe Vera Drinks
{% endblock %}

{% block car_bg %}bg-purple-blue{% endblock %}
{% block form_bg %}bg-purple-blue{% endblock %}
{% block current_col %}rgba(78, 76, 108, 1){% endblock %}
{% block sol_col %}rgba(78, 76, 108, 1){% endblock %}
{% block image_slide %}

    <div class="col-lg-6 left-carousel">
        <div id="myCarousel" class="carousel slide">    <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img src="/static/images/drink.PNG" alt="First slide"></div>
                <div class="item"><img src="/static/images/drink2.PNG" alt="Second slide"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

{% endblock %}
{% block bsid_heading %}
    Aloe Vera Drinks
{% endblock %}
{% block details %}
    Products With a Healthy Promise!
{% endblock %}
{% block bsid_listing %}
    <li><span class="fa fa-bicycle"></span> Aloe Vera Provides Benefits for the Skin</li>
    <li><span class="fa fa-bicycle"></span> Promotes Optimal Digestive Health</li>
    <li><span class="fa fa-bicycle"></span> Delivers Potent Benefits to Combat the Signs of Ageing</li>
    <li><span class="fa fa-bicycle"></span> Boosts Immune Function</li>
    <li><span class="fa fa-bicycle"></span> Helps Maintain Healthy Weight and Energy Levels</li>
    <li><span class="fa fa-bicycle"></span> Aloe Vera has Anti-inflammatory and Painkilling Effect</li>
{% endblock %}

{% block image_blocks %}

    <div class="great-way">
        <h1 class="text-purple-blue">Discover the Proven Benefits of Aloe Vera!</h1>

        <p>Aloe Vera Provides What your Body Needs All Day, Every Day!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist4.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist5.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist6.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist7.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist8.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist9.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist10.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist11.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/drinklist12.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider line-purple-blue">
        </div>
    </div>
{% endblock %}
{% block shop_join %}
    <div class="become-member container">
        <h1 class="text-purple-blue">Refresh & Replenish Your Body with the Valuable Benefits Contained in our
            Drinks!</h1>

        <p>You Are Just a Click away from a Healthier Body! Join Now and Save 15% Instantly!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-purple-blue">
    </div>
{% endblock %}
{% block content_writing %}
    <p>
        Aloe Vera drinks in four healthy varieties of fresh, stabilized aloe vera gel – Aloe Vera Gel, Aloe Berry
        Nectar, Forever Bits n’ Peaches, Forever Freedom. The primary ingredient of all four varieties is raw aloe vera
        gel, which provides a rich supplement to healthy nutrition. And to complement our aloe vera drinks we have added
        Forever Pomesteen Power, Aloe Blossom Herbal Tea, Aloe2go, Freedom2go and Forever Active Boost and Forever
        Natural Spring Water to our range. Drink any one of these aloe vera drinks on a daily basis to add nutrients,
        vitamins, minerals and amino acids to your diet, and above all, to promote a good, healthy lifestyle!Our
        proprietary blend of natural juices and extracts provide healthful choices to your daily nutrition. Choose from
        a variety of beverages to promote a healthy lifestyle.
    </p>
    <br>
    <h1 class="text-center text-purple-blue panel-head"><span class="fa fa-check-circle"></span> Buy Aloe Vera Drinks
    </h1>
    <hr class="trunc-line line-purple-blue">
    <p>Forever Living Aloe Drinks are not sold in stores you can buy them online. Please enter retail store to order
        your Aloe Drinks. Receive 15% discount on orders of 100$ or more. For details how to save 15% on your aloe vera
        drinks please visit: Forever Living Discounts.
    </p>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Aloe Vera Gel
        </div>
        <div class="panel-body"> The miraculous Aloe leaf has been found to contain more than 200 compounds. A product
            of our patented Aloe stabilization process, our gel is favored by those looking to maintain a healthy
            digestive system and a natural energy level. Kosher Certified Aloe Vera Drinks.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Forever Freedom
            Aloe Vera Drinks
        </div>
        <div class="panel-body">
            Forever Freedom provides the usually recommended amounts of Glucosamine Sulfate (1500mg), Chondroitin
            Sulfate (1200mg), plus 750 mg of MSM per 4 oz serving. When combined, Glucosamine Sulfate, Chondroitin
            Sulfate, and MSM provide the first line of support for healthy joint function. As with other FLP products,
            these nutrients are sourced naturally. Make Forever Freedom a practical and nutritious way to start your
            day! This Forever Freedom from the Aloe Vera Drinks, Contains shellfish (shrimp, crab, lobster)! Find out
            the benefits of Forever Freedom Aloe Vera Drinks.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Forever Aloe Bits
            N’ Peaches Aloe Vera Drinks
        </div>
        <div class="panel-body">
            Forever Aloe Bits N’ Peaches provides another great taste to enjoy with its 100% stabilized Aloe Vera Gel
            and just a touch of natural peach flavor and peach concentrate. A taste sensation of this aloe vera drinks
            like no other, it contains pure chunks of Aloe Vera, bathed in the flavor of sun-riped peaches.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Forever Freedom
            Aloe Berry Nectar Aloe Vera Drinks
        </div>
        <div class="panel-body">
            You can drink Aloe Berry Nectar with meals or alone. The delicious flavor is totally natural, prepared from
            a blend of fresh cranberries and sweet, mellow apples. Added fructose ( a natural fruit sugar) sweetens it
            just enough to please both adults and children alike.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Forever Aloe2go
            Aloe Vera Drinks
        </div>
        <div class="panel-body">
            You love the benefits of Aloe Vera Gel, and you love the sweet, exotic taste of Forever Pomesteen Power.
            We’ve taken the best of both drinks and combined them into a single-serving, convenient foil pouch! Aloe2go!
            Find out the Top 10 Reasons to Drink Aloe2go!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Freedom2go Aloe
            Vera Drinks
        </div>
        <div class="panel-body">
            Enjoy all the benefits of Forever Freedom combined with the exotic flavor of Pomegranate, in a convenient,
            easy-to-carry pouch. Just grab Freedom2go, tear open and drink in the tasty benefits of Forever Freedom2go!
            Would you like to find out why to drink Forever Freedom2go Aloe Vera Drinks? Check out this: Top 10 reasons
            to drink Freedom!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> FAB Forever Active
            Boost Aloe Vera Drinks
        </div>
        <div class="panel-body">
            Fab Forever Active Boost Natural Energy Drink gives you that extra boost you need to stay active. With Aloe
            plus a proprietary blend of adaptogenic herbs, vitamins, and other ingredients, this great-tasting drink
            will ‘keep your motor running’ all day long! Kosher Certified Aloe Vera Drinks.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Aloe Blossom
            Herbal Tea
        </div>
        <div class="panel-body">
            Simply the finest herbal tea available. Seasoned with just the right touch of Aloe blossoms, it secures its
            subtle flavor with cinnamon, ginger, fragrant cloves, soothing allspice, zesty orange peel, plus cardamom,
            fennel, chamomile, blackberry leaf, and gymnema sylvestre. Aloe Blossom Herbal tea also Kosher certified
            from our natural Aloe Vera Drinks.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Forever Natural
            Spring Water
        </div>
        <div class="panel-body">
            Refresh and renew with Forever Natural Spring Water. It’s important to stay hydrated whether you are on the
            go or relaxing at home. Keep a bottle on hand at all times – your body will thank you! Forever Natural
            Spring Water contains no aloe vera! 😉
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> Forever Pomesteen
            Power
        </div>
        <div class="panel-body">
            Forever Pomesteen Power’s great tasting blend is a unique mix of fruit juices and extracts, including
            Pomegranate, Pear, Mangosteen, Raspberry, Blackberry, Blueberry and Grape Seed. However Forever Pomesteen
            Power doesn’t contain Aloe Vera but I listed under Aloe Vera Drinks because it has many health benefits.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> FAB Forever Active
            Boost
        </div>
        <div class="panel-body">
            FAB Forever Active Boost Natural Energy Drink gives you that extra boost you need to stay active. With Aloe
            plus a proprietary blend of adaptogenic herbs, vitamins, and other ingredients, this great tasting drink
            will ‘keep your motor running’ all day long!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple-blue panel-head"><span class="fa fa-check-circle"></span> FAB X Forever
            Active Boost
        </div>
        <div class="panel-body">
            FAB X Energy Drink – the healthy energy alternative with all the vitamins, amino acids and electrolytes
            minus the calories, carbs or sugar. Get that immediate boost you need while benefitting from the long-term
            energy you want. Let FAB X power your through your day to achieve all you desire!
        </div>
    </div>




{% endblock %}

