{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    Forever Living Bee Products
{% endblock %}

{% block car_bg %}bg-brownish{% endblock %}
{% block bg_clor %}bg-brownish{% endblock %}
{% block form_bg %}bg-brownish{% endblock %}
{% block current_col %}#81be32{% endblock %}
{% block sol_col %}#3b3b1f{% endblock %}
{% block image_slide %}
    <br>
    <div class="container">
        <h1 style="color: white; font-weight: 600; margin-left: 25px;">Forever Living Bee Products</h1>
    </div>
    <style>
        h1, h2, h3 {
            font-weight: 600;
        }
    </style>
{% endblock %}
{% block divider %}
{% endblock %}

{% block bsid_heading %}
    {#    IT'S BEAUTY AS NATURE INTENDED#}
{% endblock %}
{% block details %}
    {#    IT JUST LOOKS HOT#}
{% endblock %}
{% block bsid_listing %}
    {#    <li><span class="fa fa-bicycle"></span> Clinically Proven Natural Ingredients</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Active Botanicals Moisturize, Nourish & Protects</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Best Solution for Sensitive Skin</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Ideal for all Skin Types</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Gives Skin a Fresh, Radiant Glow</li>#}
{% endblock %}

{% block image_blocks %}
    <div class="great-way">
        <h1 class="text-brownish">Forever Living's Bee Products Are the Purest You'll Find Anywhere!</h1>

        <p>100% Natural & Nutritionally Rich with The Finest Ingredients!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-lg-offset-3 col-md-4 col-sm-4 col-xs-4">
                    <img src="/static/images/bee1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <img src="/static/images/bee2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <img src="/static/images/bee3.PNG" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <hr class="divider line-brownish">
    <br>
{% endblock %}
{#{% block shop_join %}#}
{#    <div class="become-member container">#}
{#        <h1 class="text-brownish">Wake Up Your Complexion & Get Your Glow On!</h1>#}
{##}
{#        <p>Register Today & SAVE 15% Instantly! It's 100% FREE to JOIN!</p>#}
{##}
{#        <div class="buy-or-join">#}
{#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
{#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
{##}
{#            <div class="cards">#}
{#                <span class="fa fa-cc-visa"></span>#}
{#                <span class="fa fa-cc-mastercard"></span>#}
{#                <span class="fa fa-cc-paypal"></span>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="divider line-brownish">#}
{#    </div>#}
{#{% endblock %}#}
{% block content_writing %}
    <h1 class="text-center text-brownish panel-head"><span class="fa fa-check-circle"></span>
        Forever Bee Products
    </h1>
    <hr class="trunc-line line-brownish">
    <p>
        If you discover the power of nature’s most powerful herb aloe vera, a natural extension of your search for
        nature’s great gifts will lead you to the beehive, Forever Bee Products. The world is awakening to the power of
        bee pollen, propolis, royal jelly and pure natural honey. You will be absolutely amazed when you try all of the
        Forever Bee products.
    </p>
    <p>
        Forever Living takes great care in providing the purest and most potent Forever Bee products available. Many of
        our bee products are gathered from colonies located in the high deserts of the Southwest that are free from
        agricultural pesticides and other chemicals. We have on staff people that come from generations of beekeeping
        experience. State-of-the-art handling allows us to offer you Forever Bee products that are not damaged by harsh
        processing methods. The purity and strength of these products is guaranteed. Our decision to produce bee
        products has proven to be a boon to the distributors who are building a Forever Business and to the consumers
        who enjoy the benefits of nature’s most perfect food: Forever Bee Products.
    </p>
    <p>
        Forever Living Products offers you a remarkable line of 100% natural bee products. Our beehives are in an ideal
        location where the pristine environment eliminates contaminants such as pesticides and pollutants. We use
        specially designed equipment to gather and preserve the ingredients in the conditions nature intended. All of
        Forever bee products
    </p>
    <p>
        <b>– Forever Bee Honey, Royal Jelly, Bee Pollen and Bee Propolis –</b> are natural and nutritionally rich, from
        the
        hives directly to you – just as honeybees have been making them for thousands of years!
    </p>

    <br>
    <hr class="divider line-brownish">
    <br>
    <div class="become-member container">
        <h1 class="text-brownish">Come On! It's Time to Save Some Money!</h1>

        <p>Join Now & Save 15% Instantly! No Minimum Purchase Necessary!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-brownish">
    </div>

    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading bg-brownish panel-head"><span class="fa fa-check-circle"></span> Forever Bee
                Products No#1 Forever Bee Propolis
            </div>
            <div class="panel-body"> Propolis is the protective substance gathered and used by bees to keep their hives
                clean. Forever Bee Propolis is gathered from pollution-free regions. Forever Bee Propolis is a natural
                antibiotic. Take 2 tablets daily as a dietary supplement. It is excellent for sore throat and for
                toothache. I personally give to my kids (2 and 5 years old) 1 tablet of Bee Propolis daily, just to make
                sure they won’t get sick. They’ve been taking Forever Bee Propolis since age of 9months. As soon as they
                could pick little pieces of food with fingers I start giving them to get used to it. Forever Bee
                Propolis is natural, can not be harmful. Make sure they don’t have any allergy to Forever Bee Propolis.
                <p>To further assure purity, specially designed bee propolis collectors are used. Forever Bee Propolis
                    is 100% natural with no added preservatives or artificial colors. Contains soy, tree nuts
                    (Almond.)</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading bg-brownish panel-head"><span class="fa fa-check-circle"></span> Forever Bee
                Products No#2 Forever Bee Honey
            </div>
            <div class="panel-body"> This great-tasting, all natural sweetener is loaded with nature’s goodness. Easy to
                digest, Forever Bee Honey is a quick and natural energy source for any occasion! Forever Bee Honey also
                shortens duration of cold and flu. Take 1 teaspoon Forever Bee Honey daily to get a stronger immune
                system. Also excellent for those who have heartburn problems.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading bg-brownish panel-head"><span class="fa fa-check-circle"></span> Forever Bee
                Products No#3 Forever Royal Jelly
            </div>
            <div class="panel-body"> Studies have shown that Forever Royal Jelly can help support the immune system,
                increase energy, and benefit the skin and hair. Our Royal Jelly is gathered from dry, remote, high
                desert regions where pristine conditions provide the ideal environment. Are you planning to have a baby
                but have some problem? Try Forever Royal Jelly for a few months with Multi Maca. I love Forever Royal
                Jelly, it is a chewable, great tasting ‘superfood’ vitamin which is excellent for stress relief.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading bg-brownish panel-head"><span class="fa fa-check-circle"></span> Forever Bee
                Products No#4 Forever Bee Pollen
            </div>
            <div class="panel-body">
                <p>Forever Bee Pollen is gathered in specially-designed stainless steel collectors from the blossoms
                    that blanket remote, high desert regions. This ensures the freshest and most potent natural food.
                    Forever Bee Pollen is all-natural and contains no preservatives, artificial flavors.
                </p>

                <p>
                    My mother used to suffer of allergy and hay fever. She started taking Forever Bee Pollen (gradually
                    increased the portion from 1/8 to 2tablets daily) and Aloe Vera Gel 4oz daily and her symptoms
                    disappeared in a couple of weeks. She also drunk Aloe2go and Pomesteen Power daily.
                </p>
            </div>
        </div>
    </div>


    <div class="great-way">
        <h1 class="text-brownish">Forever Living's Bee Products Are the Purest You'll Find Anywhere!</h1>

        <p>100% Natural & Nutritionally Rich with The Finest Ingredients!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-lg-offset-3 col-md-4 col-sm-4 col-xs-4">
                    <img src="/static/images/bee1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <img src="/static/images/bee2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <img src="/static/images/bee3.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>

{% endblock %}

