{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    Forever Living Combo Packs
{% endblock %}

{% block car_bg %}bg-brownish{% endblock %}
{% block bg_clor %}bg-brownish{% endblock %}
{% block form_bg %}bg-brownish{% endblock %}
{% block image_slide %}
    <br>
    <div class="container">
        <h1 style="color: white; font-weight: 600; margin-left: 25px; ">Combo Packs</h1>
    </div>
    <style>
        h1, h2, h3 {
            font-weight: 600 !important;
        }
    </style>
{% endblock %}
{% block divider %}
{% endblock %}

{% block bsid_heading %}
    {#    IT'S BEAUTY AS NATURE INTENDED#}
{% endblock %}
{% block details %}
    {#    IT JUST LOOKS HOT#}
{% endblock %}
{% block bsid_listing %}
    {#    <li><span class="fa fa-bicycle"></span> Clinically Proven Natural Ingredients</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Active Botanicals Moisturize, Nourish & Protects</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Best Solution for Sensitive Skin</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Ideal for all Skin Types</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Gives Skin a Fresh, Radiant Glow</li>#}
{% endblock %}

{% block image_blocks %}

{% endblock %}
{#{% block shop_join %}#}
{#    <div class="become-member container">#}
{#        <h1 class="text-brownish">Wake Up Your Complexion & Get Your Glow On!</h1>#}
{##}
{#        <p>Register Today & SAVE 15% Instantly! It's 100% FREE to JOIN!</p>#}
{##}
{#        <div class="buy-or-join">#}
{#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
{#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
{##}
{#            <div class="cards">#}
{#                <span class="fa fa-cc-visa"></span>#}
{#                <span class="fa fa-cc-mastercard"></span>#}
{#                <span class="fa fa-cc-paypal"></span>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="divider line-brownish">#}
{#    </div>#}
{#{% endblock %}#}
{% block content_writing %}
    <h1 class="text-center text-brownish panel-head"><span class="fa fa-check-circle"></span>
        Forever Living Combo Pack
    </h1>
    <hr class="trunc-line line-brownish">
    <br>
    <div class="row">
        <div class="col-lg-6">
            <p>
                You are a brand new Distributor of Forever Living Products or just planning to start your own FLP
                business, planning to buy your first Forever Living Combo Pack!
            </p>

            <p>
                We congratulate you on your decision, and welcome you to our worldwide family. We recognize that you are
                the most important person in the company; because without you, FLP would be just a dream. Undoubtedly
                you are excited about the opportunity to develop an unlimited income, and we want to make sure that
                happens. The purpose of this training is to provide you with step-by-step instruction and assistance in
                building your Forever business. Forever Living Combo Pack.
            </p>


        </div>
        <div class="col-lg-6">
            <p>
                Your very first step as a new Distributor is to purchase either a Clean 9 Business Pack* or a Touch of
                Forever Combo Pack.
            </p>

            <p>
                No matter which you choose, you will earn two personal case credits (2cc) and immediately become an
                Assistant Supervisor! As an Assistant Supervisor, you can begin sponsoring Distributors, and you will
                start earning a personal bonus on all your future product orders. After purchasing the Forever Living
                Combo Pack you will receive an additional 15% discount on all products, all together 30%.
            </p>
        </div>
    </div>
    <br>
    <hr class="divider line-brownish">
    <br>
    <h1 class="center text-brownish">Importance of Forever Living Combo Pack</h1>
    <p>
        The importance of purchasing your Forever Living Combo Pack cannot be overemphasized. By far, the most important
        factor in the success of your business is your personal enthusiasm. This enthusiasm begins growing through your
        experience with the products, and then expands with the Marketing Plan. You need the Forever Living Combo Pack
        to experiment with the products and begin your product knowledge so you can share your knowledge and the product
        with others.
        <br>Starting your FLP business without a Forever Living Combo Pack is like trying to fly without wings.
        Think of the Forever Living Combo Pack as your “college education” for your business. Many people spend tens of
        thousands of dollars to receive knowledge that they can then use to earn a living in their chosen vocation. In
        FLP, your education costs only a couple of hundred dollars; and yet the income you can receive through that
        knowledge can be dramatically greater than any job you can get with your college education! The only thing you
        need to invest is a Forever Living Combo Pack!
    </p>
    <br>
    <hr class="line-brownish">
    <br>
    <div class="become-member container">
        <h1 class="text-brownish">Begin Your Journey HERE to Financial Freedom!</h1>

        <p>Join Now & Order Your Combo Pack!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-brownish">
    </div>

    <div class="">
        <p>
            One successful Distributor remembers telling his sponsor that he couldn’t afford to buy his first Forever
            Living Combo Pack. Rather than accept this as an excuse to get started incorrectly, the sponsor sat down
            with him to discuss various ideas of how to purchase the Forever Living combo Pack. It was decided that the
            Distributor would sell his set of golf clubs, which he was able to do within a week. The Forever Living
            Combo Pack was then purchased and the Distributor’s business began. He later became a Gem Manager and
            inspired many others with his example. There isn’t anyone who cannot afford to purchase a Forever Living
            Combo Pack; the truth is that there isn’t any new Distributor (who is serious about earning a great income)
            who can afford not to buy a Forever Living Combo Pack!
        </p>

        <p>
            In addition to giving you that emotional strength of enthusiasm, another benefit of purchasing a Forever
            Living Combo Pack is what it does for you physically. By using the various products, you quickly become a
            “product of the products”. You, then, are your business’ best advertisement – a walking billboard that
            shouts “these products are great!” Not only will you find yourself convincing others to try the products by
            relating your experiences, but you will also find that they will notice the great results you are having
            (i.e. smoother skin, silkier hair, more energy, fewer inches) and ask you what you are doing to have
            achieved this.
        </p>

        <p>
            Another important reason for purchasing a Forever Living Combo Pack is that you receive all the literature
            and tools you need to start your business:
        </p>

        <ul>
            <li><span class="fa fa-check"></span> product catalogs</li>
            <li><span class="fa fa-check"></span> training materials</li>
            <li><span class="fa fa-check"></span> videos</li>
            <li><span class="fa fa-check"></span> product manual</li>
            <li><span class="fa fa-check"></span> product samples</li>
        </ul>
    </div>

    <br>
    <div class="great-way">
        <h1 class="text-brownish">Take the First Step to Begin Your Journey to Financial Freedom!</h1>

        <p>These Top Distributors all Started with the Combo Pack!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/altida.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/rolf%20kipp.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist1.PNG" alt="" class="img-responsive">
                </div>
                <div class="clearfix visible-xs">

                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist4.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>


    <h1 class="text-brownish">Who started with a Forever Living Combo Pack?</h1>
    <p><span class="fa fa-check-circle"></span>
        Distributors who earn 5-, 6- and 7-figure incomes all started with a Forever Living Combo Pack. The enthusiasm
        they developed for the products became the foundation that supported them through the growth of their business,
        and ultimately strengthened their resolve and energy. It will definitely do the same for you; so, purchase your
        Forever Living Combo Pack and start using the products right away!
    </p>
    <p>
        Now it’s time to decide which Forever Living Combo Pack to purchase. If you plan to concentrate on weight
        management, then the Clean+Lean Business Pack will best suit your needs; otherwise the Touch of Forever Living
        Combo Pack is for you. (Some Distributors purchase both!) Remember that from the moment you order your Forever
        Living Combo Pack, you begin your journey to financial freedom. So take the first step on your journey right
        now; it’s as close as your computer!
    </p>
    <br>

    <h1 class="text-brownish">Content of Forever Living Combo pack in USA:</h1>
    <div class="row">
        <div class="col-lg-4">
            <img src="/static/images/combo2.PNG" alt="Combo 2" class="img-responsive">
        </div>
        <div class="col-lg-4">
            <ul>
                <li><span class="fa fa-pie-chart"></span> Aloe Vera Gel</li>
                <li><span class="fa fa-pie-chart"></span> Forever Bright Toothgel</li>
                <li><span class="fa fa-pie-chart"></span> Aloe Lips</li>
                <li><span class="fa fa-pie-chart"></span> Aloe2Go Pouch (3)</li>
                <li><span class="fa fa-pie-chart"></span> Freedom2Go Pouch (3)</li>
                <li><span class="fa fa-pie-chart"></span> Forever Arctic Sea</li>
                <li><span class="fa fa-pie-chart"></span> Avocado Bar Soap</li>
                <li><span class="fa fa-pie-chart"></span> Aloe Heat Lotion</li>
                <li><span class="fa fa-pie-chart"></span> Ever-Shield Deodorant</li>
                <li><span class="fa fa-pie-chart"></span> Garlic Thyme</li>
                <li><span class="fa fa-pie-chart"></span> Fast Break Bar</li>
                <li><span class="fa fa-pie-chart"></span> Aloe Vera Gelly</li>
                <li><span class="fa fa-pie-chart"></span> Aloe-Jojoba Shampoo</li>
                <li><span class="fa fa-pie-chart"></span> Pomesteen Power,</li>
                <li><span class="fa fa-pie-chart"></span> Royal Jelly</li>
                <li><span class="fa fa-pie-chart"></span> Forever Kids</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><span class="fa fa-pie-chart"></span> Forever Bee Pollen</li>
                <li><span class="fa fa-pie-chart"></span> Fields of Greens</li>
                <li><span class="fa fa-pie-chart"></span> Forever Active Probiotic</li>
                <li><span class="fa fa-pie-chart"></span> Forever Bee Propolis</li>
                <li><span class="fa fa-pie-chart"></span> Forever Ginkgo Plus</li>
                <li><span class="fa fa-pie-chart"></span> Forever Lite Ultra with Aminotein Vanilla</li>
                <li><span class="fa fa-pie-chart"></span> Forever Argi+</li>
                <li><span class="fa fa-pie-chart"></span> Forever Active Boost FAB (1 can)</li>
                <li><span class="fa fa-pie-chart"></span> Ever-Shield Deodorant</li>
                <li><span class="fa fa-pie-chart"></span> Aloe Blossom Herbal Tea</li>
                <li><span class="fa fa-pie-chart"></span> Absorbent-C</li>
                <li><span class="fa fa-pie-chart"></span> Aloe Liquid Soap</li>
                <li><span class="fa fa-pie-chart"></span> Aloe-Jojoba Conditioning Rinse</li>
                <li><span class="fa fa-pie-chart"></span> Aloe Propolis Crème</li>
                <li><span class="fa fa-pie-chart"></span> Forever Hand Sanitizer</li>
            </ul>
        </div>
    </div>

    <hr class="line-brownish">

{% endblock %}

