{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    Forever Living Cosmetic Products
{% endblock %}

{% block car_bg %}bg-purple{% endblock %}
{% block bg_clor %}bg-purple{% endblock %}
{% block form_bg %}bg-purple{% endblock %}
{% block image_slide %}

    <style>
        h1, h2, h3 {
            font-weight: 600 !important;
        }
    </style>
    <div class="col-lg-6 left-carousel">
        <div id="myCarousel" class="carousel slide">    <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img src="/static/images/cosmetics1.PNG" alt="First slide"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

{% endblock %}
{% block bsid_heading %}
    IT'S BEAUTY AS NATURE INTENDED
{% endblock %}
{% block details %}
    IT JUST LOOKS HOT
{% endblock %}
{% block bsid_listing %}
    <li><span class="fa fa-bicycle"></span> Clinically Proven Natural Ingredients</li>
    <li><span class="fa fa-bicycle"></span> Active Botanicals Moisturize, Nourish & Protects</li>
    <li><span class="fa fa-bicycle"></span> Best Solution for Sensitive Skin</li>
    <li><span class="fa fa-bicycle"></span> Ideal for all Skin Types</li>
    <li><span class="fa fa-bicycle"></span> Gives Skin a Fresh, Radiant Glow</li>
{% endblock %}

{% block image_blocks %}

    <div class="great-way">
        <h1 class="text-purple">Make a Positive Change with Flawless Sonya Cosmetics</h1>

        <p>Revolutionary Formula from Forever Living Products</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics4.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics5.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics6.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics7.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics8.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics9.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics10.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics11.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/cosmetics12.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider line-purple">
        </div>
    </div>
{% endblock %}
{% block shop_join %}
    <div class="become-member container">
        <h1 class="text-purple">Wake Up Your Complexion & Get Your Glow On!</h1>

        <p>Register Today & SAVE 15% Instantly! It's 100% FREE to JOIN!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-purple">
    </div>
{% endblock %}
{% block content_writing %}
    <h1 class="text-center text-purple panel-head"><span class="fa fa-check-circle"></span>
        Aloe Vera Based Cosmetics
    </h1>
    <hr class="trunc-line line-purple">
    <p>
        At Forever, beauty is more than skin deep… in fact, it’s real deep! The Sonya Colour Collection is one of the
        only aloe vera based cosmetics lines in the world that delivers skin care and makeup in one.
    </p>
    <p>
        Sonya’s unique combination of natural ingredients, from pure aloe vera and antioxidant vitamins, to marine
        extracts and chamomile, can help protect, nourish and soothe the skin. These magnificent aloe vera based
        cosmetics collection celebrates the rich colors of life with hues for every skin tone and every mood, and has a
        versatility that allows you to easily take your look from day to night. Let Sonya and the aloe vera based
        cosmetics help you take the guesswork out of looking beautiful!
    </p>
    {#    <br>#}
    {#    <h1 class="text-center text-purple panel-head"><span class="fa fa-check-circle"></span>#}
    {#        Aloe Vera Skin Care Products for Body#}
    {#    </h1>#}
    <hr class="trunc-line line-purple">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Body Toning
            Kit
        </div>
        <div class="panel-body"> Indulge yourself with an at-home body wrap designed to help trim, tone and tighten,
            minimizing the bumpy texture of cellulite. Stabilized aloe vera gel, along with European herbal complexes
            and heating agents, stimulate the circulation and cleanse the skin, breaking up the trapped fluid that can
            lead to cellulite.
            <br>
            Each Body Toning Kit contains:
            <br>
            <ul>
                <li><span class="fa fa-briefcase"></span> Aloe Body Toner for use with the cellophane wrap (not sold
                    separately);
                </li>
                <li><span class="fa fa-briefcase"></span> Aloe Body Conditioning Creme for topical, non-wrap use;</li>
                <li>Aloe Bath Gelée for a soothing, relaxing bath, and a loofah to smooth the skin and help increase
                    circulation.
                </li>
                <li><span class="fa fa-briefcase"></span> Loofah Mitt</li>
                <li><span class="fa fa-briefcase"></span> Cellophane Wrap* *Not sold separately.</li>
                <li><span class="fa fa-briefcase"></span> Aloe Body Toner This deep-heating cream, with the power of
                    stabilized aloe vera gel, is used with
                    cellophane wrap* to shape and tone the skin. We combine aloe and select European herbs with two
                    remarkable heating agents, cinnamon oil and capsicum. This electric mix cleanses the skin, releases
                    trapped fluids and minimizes the appearance of cellulite. 4 oz.
                </li>
                <li><span class="fa fa-briefcase"></span>
                    Aloe Body Conditioning Crème Maintain the supple, smooth feel of your skin with this thick emulsion
                    cream, rich in European herbal extracts and conditioners.
                </li>
                <li><span class="fa fa-briefcase"></span>
                    Aloe Bath Gelée This gentle, moisturizing bath and shower gel, rich in pure aloe vera gel, will
                    soothe away your cares. Used with our loofah mitt, it helps remove dead skin cells, revealing
                    smooth, clean skin. 8.5 fl oz.
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Vera Gelly
        </div>
        <div class="panel-body"> Essentially identical to the aloe vera’s inner leaf, our 100% stabilized aloe vera gel
            lubricates sensitive tissue safely. Absorbed quickly, this thick, translucent gel containing humectants and
            moisturizers can be wonderfully soothing. 4 fl oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Moisturizing
            Lotion
        </div>
        <div class="panel-body"> Aloe Moisturizing Lotion is great for both face and body. This thick lotion blends the
            power of pure, stabilized aloe vera gel with allantoin, apricot kernel oil, jojoba oil, elastin and soluble
            collagen for soothing, moisturizing results. 4 fl oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Lotion
        </div>
        <div class="panel-body"> An excellent, all-over moisturizer for your face and body, Aloe Lotion combines the
            highest concentration of pure, stabilized aloe with jojoba oil, collagen, elastin and Vitamin E in a finely
            textured lotion – light in scent but long on soothing dry, irritated skin. It quickly restores skin’s
            delicate pH balance, keeping skin supple and soft. 4 fl oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Propolis
            Creme
        </div>
        <div class="panel-body"> Do more than moisturize and condition your skin. Reach for the thick, rich, creamy
            blend of stabilized aloe vera gel and bee propolis. To this we added chamomile and comfrey, two of nature’s
            best skincare herbs, along with vitamins A and E. 4 oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Sunscreen
        </div>
        <div class="panel-body"> With an SPF of 30, Aloe Sunscreen blocks both UVA and UVB rays. Made with pure,
            stabilized aloe vera gel, rich moisturizers and humectants, it maintains the skin’s natural moisture
            balance. Finally, a sunscreen that combines modern science with natural ingredients to soothe, lubricate and
            moisturize. 4 fl oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Sunless
            Tanning Lotion
        </div>
        <div class="panel-body"> Give yourself a natural-looking, smooth, even tan without the damage of UV rays. Aloe
            Sunless Tanning Lotion pampers skin with a luxurious, aloe-based blend of hydrating moisturizers for safe,
            year-round results. 4 fl oz.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Heat Lotion
        </div>
        <div class="panel-body"> Stretch no further than to grab a tube of Aloe Heat Lotion. An emollient, oil-in-water
            lotion containing warming agents and aloe, it’s ideal for soothing stress and strain. 4 fl oz.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe MSM Gel
        </div>
        <div class="panel-body"> MSM stands for Methyl Sulfonyl Methane, an organic sulfur found in almost all living
            organisms. The third most abundant substance in our body, it is expertly combined with pure, stabilized aloe
            vera. Aloe MSM Gel combines these two powerful ingredients with herbal extracts and other select ingredients
            for soothing relief. 4 fl oz.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe First Spray
        </div>
        <div class="panel-body"> Easy-to-apply spray, formulated in a base of stabilized aloe vera gel, Aloe First
            contains bee propolis, allantoin and 11 exclusive plant extracts. pH balanced for even the most sensitive
            skin. 16 fl oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Alpha-E
            Factor
        </div>
        <div class="panel-body"> A rich cornucopia of ingredients designed to enhance the skin. Combined with the purest
            humectants and emulsifiers, these ingredients create one of the most versatile skin care products ever
            introduced! 1 fl oz.
        </div>
    </div>

    <br>
    {#    facial products   #}
    <br>

    <h1 class="text-center text-purple panel-head"><span class="fa fa-check-circle"></span>
        Aloe Vera Skin Care Facial Products
    </h1>
    <hr class="trunc-line line-purple">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Marine
            Mask
        </div>
        <div class="panel-body"> Forever Marine Mask provides deep cleansing, while balancing the skin’s texture with
            natural sea minerals plus the super moisturizing and conditioning properties of aloe vera, honey, and
            cucumber extract. This easy-to-apply, deep penetrating mask will leave your skin feeling refreshed and
            revitalized. 4 oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Aloe Scrub
        </div>
        <div class="panel-body"> Jojoba oil suspended in pure aloe vera, gentle enough to use every day – even on your
            face – works together to slough off dead skin cells, open up pores and clear the way for your skin’s unique
            renewal process, revealing radiant, “new,” healthier skin. 3.5 oz.
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Alluring
            Eyes
        </div>
        <div class="panel-body"> Reduce the appearance of wrinkles, fine lines, under-eye puffiness and dark circles,
            while improving the skin’s suppleness and elasticity. Forever Alluring Eyes is rich in aloe, natural
            emollients derived from coconut and jojoba oils, and natural vitamin E – nourishing agents to condition and
            lock in moisture. 1 oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> R3 Factor
        </div>
        <div class="panel-body"> Skin Defense Creme Retain moisture, Restore resilience, and Renew a vibrant, healthy
            glow. Your first line of defense, R3 Factor is a rich combination of stabilized aloe vera gel, soluble
            collagen, alpha hydroxy acids (AHA), and the skin nourishing sustenance of vitamins A and E. It’s ideal for
            crow’s feet and can help maintain healthy skin color, texture and feel. 2 oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Epiblanc
        </div>
        <div class="panel-body"> Spots and blemishes on the skin can be telltale signs of exposure to the elements or
            even our genetics. Forever Epiblanc is an exclusive formula specifically designed to brighten the complexion
            and even skin tone while helping to diminish the appearance of dark spots. 1 oz.
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Fleur De
            Jouvence
        </div>
        <div class="panel-body"> An Aloe restorative beauty collection comprised of six wonderful components, each
            designed to fill a special part in a complete regimen of facial skin care: Aloe Cleanser, Rehydrating Toner,
            Firming Day Lotion, Recovering Night Crème, Mask Powder, and Aloe Activator. Includes Mixing spoon,
            applicator brush and mixing bowl.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Sunscreen
            Spray
        </div>
        <div class="panel-body"> Protecting your skin from the aging and damaging effects of the sun has never been
            easier. Let the power of our new Aloe Sunscreen Spray with SPF 30, plus the added benefits of its very water
            resistant formula and the convenience of its spray application, do the work for your!
        </div>
    </div>
    <br>
    <p>
        These Forever Living aloe vera skin care products are not sold in stores, you can buy online. Please visit Aloe
        Store to purchase your aloe skin care products. Receive 15% discount on orders of 100$ or more. For details
        please visit: Forever Living Discounts.
    </p>



    <br>
    <br>


{% endblock %}
