{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    Forever Living Gluten Free Products
{% endblock %}

{% block car_bg %}bg-orangish{% endblock %}
{% block bg_clor %}bg-orangish{% endblock %}
{% block form_bg %}bg-orangish{% endblock %}
{% block image_slide %}
    <br>
    <div class="container">
        <h1 style="color: white; font-weight: 600;">Gluten Free Products</h1>
    </div>
    <style>
        h1, h2, h3{
            font-weight: 600;
        }
    </style>
{% endblock %}
{% block divider %}
{% endblock %}

{% block bsid_heading %}
    {#    IT'S BEAUTY AS NATURE INTENDED#}
{% endblock %}
{% block details %}
    {#    IT JUST LOOKS HOT#}
{% endblock %}
{% block bsid_listing %}
    {#    <li><span class="fa fa-bicycle"></span> Clinically Proven Natural Ingredients</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Active Botanicals Moisturize, Nourish & Protects</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Best Solution for Sensitive Skin</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Ideal for all Skin Types</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Gives Skin a Fresh, Radiant Glow</li>#}
{% endblock %}

{% block image_blocks %}

    <div class="quote">
        "If the diet is wrong then medicines are of no use, if the diet is right then medicines are of no need."
        <br>
        <small>- A text from Ayurvedic records - 500BC</small>
    </div>

    <div class="great-way">
        <div>
            <h1 class="text-reddish" style="text-align: left">Gluten Free Forever Living Products</h1>

            <p class="left" style="text-align: left">What is gluten?</p>
        </div>

        <ul>
            <li>Gluten is certain type of protein. Gluten is found in foods such as rye, wheat, and barley. Because most
                breads and cereals make use of these foods, they usually also contain gluten. Just because the food is a
                grain, doesn’t necessarily mean it contains gluten.
            </li>
            <li>
                Gluten is a protein that makes grain particles stick together to make breads, pastas, cakes and cookies.
                Gluten is not a chemical added to grain or flour. It is a natural part of most grains. Grains containing
                gluten are wheat, kamut, spelt, barley, rye, oats, and triticale.
            </li>
        </ul>
        <br>
        Gluten is a large protein found in wheat and certain other grains – barley, spelt and rye. Many people can
        have difficulties digesting gluten, and for an estimated 1 out of 100 people, gluten can trigger an immune
        system response that may lead to impaired nutrient absorption and wide range of other symptoms throughout
        the body.

        <br>
        With the increasing awareness of gluten and the desire of many to follow a gluten-free diet, the vast
        majority of products Forever Living offers are gluten free. This means they test at levels far less than 20
        parts per million (ppm) of gluten – the level set by the US Food and Drug Administration for gluten free
        claims.
        <br>

    </div>
    <img src="/static/images/gluten.PNG" alt="" class="img-responsive center-block">
    <hr class="divider line-reddish">
{% endblock %}
{#{% block shop_join %}#}
{#    <div class="become-member container">#}
{#        <h1 class="text-reddish">Wake Up Your Complexion & Get Your Glow On!</h1>#}
{##}
{#        <p>Register Today & SAVE 15% Instantly! It's 100% FREE to JOIN!</p>#}
{##}
{#        <div class="buy-or-join">#}
{#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
{#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
{##}
{#            <div class="cards">#}
{#                <span class="fa fa-cc-visa"></span>#}
{#                <span class="fa fa-cc-mastercard"></span>#}
{#                <span class="fa fa-cc-paypal"></span>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="divider line-reddish">#}
{#    </div>#}
{#{% endblock %}#}
{% block content_writing %}
    <h1 class="text-center text-reddish panel-head"><span class="fa fa-check-circle"></span>
        Gluten-free diet
    </h1>
    <hr class="trunc-line line-reddish">
    <p>
        For those trying to avoid or limit gluten in their diets, several Forever Living products can help to provide
        needed nutrients, and support digestion and energy levels.
    </p>
    <p>
        Products such as Forever Daily can help to provide a full complement of vitamins and minerals. Additionally
        products like Forever Aloe Vera Gel can help support digestion and absorption of nutrients and Forever Active
        Probiotic can help to promote adequate nutrient utilization.
    </p>
    <p>
        Essential fatty acids also play a role in supporting immune function and cellular health. Forever Artic Sea
        provide a balanced blend of the essential Omega -3 fatty acids – DHA and EPA. Argi= provides 5 grams of
        L-arginine per serving, which supports nitric oxide production in the body and helps to support circulation, to
        foster nutrient delivery to cells and tissues throughout the body.
    </p>
    <p>
        In addition, because some people may experience skin irritation from personal care and Sonya cosmetic products
        that contain gluten, flawless by Sonya and Forever Living Personal Care products have been formulated, whenever
        possible, without gluten-containing ingredients, and the majority of these products are gluten free as well.
    </p>
    <p>
        In keeping with our commitment to providing the highest-quality ingredients and products, Forever Living’s
        products are routinely tested for gluten, to ensure that those following a gluten-free lifestyle can be
        comfortable in their product choices and support their overall health and well-being.
    </p>
    <br>
    <h1 class="text-center text-reddish panel-head"><span class="fa fa-check-circle"></span>
        See List Here: Gluten Free
    </h1>

    <hr class="trunc-line line-reddish">
    <br>

    <div class="row">
        <div class="col-lg-6">
            <ul>
                <li><span class="fa fa-check"></span> Aloe Berry Nectar</li>
                <li><span class="fa fa-check"></span> Aloe Blossom Herbal Tea</li>
                <li><span class="fa fa-check"></span> Aloe Vera Gel</li>
                <li><span class="fa fa-check"></span> Forever A-Beta-Care</li>
                <li><span class="fa fa-check"></span> Forever Active HA</li>
                <li><span class="fa fa-check"></span> Forever Active Probiotic</li>
                <li><span class="fa fa-check"></span> Forever Aloe Bits N’ Peaches</li>
                <li><span class="fa fa-check"></span> Forever Aloe2Go</li>
                <li><span class="fa fa-check"></span> Forever Arctic-Sea</li>
                <li><span class="fa fa-check"></span> Forever Argi+</li>
                <li><span class="fa fa-check"></span> Forever B-12 Plus</li>
                <li><span class="fa fa-check"></span> Forever Bee Honey</li>
                <li><span class="fa fa-check"></span> Forever Bee Pollen</li>
                <li><span class="fa fa-check"></span> Forever Bee Propolis</li>
                <li><span class="fa fa-check"></span> Forever Calcium</li>
                <li><span class="fa fa-check"></span> Forever Daily</li>
                <li><span class="fa fa-check"></span> Forever Echinacea Supreme</li>
                <li><span class="fa fa-check"></span> Forever Fast Break</li>
                <li><span class="fa fa-check"></span> Forever Freedom</li>
                <li><span class="fa fa-check"></span> Forever Freedom2go</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li><span class="fa fa-check"></span> Forever Garcinia Plus</li>
                <li><span class="fa fa-check"></span> Forever Garlic Thyme</li>
                <li><span class="fa fa-check"></span> Forever Ginkgo Plus</li>
                <li><span class="fa fa-check"></span> Forever Kids</li>
                <li><span class="fa fa-check"></span> Forever Lean</li>
                <li><span class="fa fa-check"></span> Lycium Plus</li>
                <li><span class="fa fa-check"></span> Forever Multi Maca</li>
                <li><span class="fa fa-check"></span> Forever Lite Ultra</li>
                <li><span class="fa fa-check"></span> Forever Lite</li>
                <li><span class="fa fa-check"></span> Forever Nature’s 18</li>
                <li><span class="fa fa-check"></span> Forever Nature Min</li>
                <li><span class="fa fa-check"></span> Forever Pomesteen Power</li>
                <li><span class="fa fa-check"></span> Forever Pro 6</li>
                <li><span class="fa fa-check"></span> Forever Vision</li>
                <li><span class="fa fa-check"></span> Forever Royal Jelly</li>
            </ul>
        </div>
    </div>
    <hr class="divider line-reddish">
    <br>
    <div class="become-member container">
        <h1 class="text-reddish">SHOP or JOIN NOW & SAVE 15%-48%!</h1>

        <p>Interested? What Are You Waiting For? There is Nothing to Lose!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-reddish">
    </div>

    <div class="great-way">
        <h1 class="text-reddish">A Great Way to Start a Whole New Life With Forever Living!</h1>

        <p>Dedicated to Bringing You The Best Available Products on the Market!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/1-aloe-vera-gel-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/2-Aloe-Vera-Gelly-gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/3-Forever-Argi-Plus-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/4-Forever-Aloe-Vera-for-immune-system-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/6-Forever-Freedom-building-blocks-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/7-Forever-Lean-2-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/8-Forever-Lean-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/9-Aloe-berry-nectar-Gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/10-Aloe-Propolis-Creme-Gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/11-Forever-Artic-Sea-Gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/12-Forever-Active-Probiotic-140x95.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider line-reddish">
        </div>
    </div>

    <div class="become-member">
        <h1 class="text-reddish">
            Become a Member & Enjoy The Benefits! Up to 48% Discounts!
        </h1>

        <p>
            Compare the Savings When Buying 10 Bottles of Aloe Vera Gel!
        </p>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div">
                            <h3>Non Member</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$186.60</h1>
                        <ul>
                            <li>Registration: None</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: None</li>
                            <li>Total Savings: None</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#shopModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-1">
                            <h3>New Member</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$158.60</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: 15%</li>
                            <li>Total Savings: $28</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#joinModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-2">
                            <h3>Wholesaler</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$121.20</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: $100</li>
                            <li>Discount: 35%</li>
                            <li>Total Savings: $65.40</li>
                        </ul>
                    <span class="act-now">
                        <a href="/discounts">Act Now!</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

