{% extends 'aloe-4us-carousel.html' %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Products With a Healthy Promise!">
    <meta name="keywords" content="aloe, aloe vera nutrition, nutrition, forever living products nutrition, true aloe health nutrition">
    <meta property="og:title" content="Forever Living Nutrition">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Products With a Healthy Promise!">
    <meta property="og:image" content="http://truealoehealth.com/static/images/nutrition1.PNG" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block title %}
    Forever Living Nutrition
{% endblock %}

{% block car_bg %}bg-greyish{% endblock %}
{% block bg_clor %}bg-greyish{% endblock %}
{% block form_bg %}bg-greyish{% endblock %}
{% block current_col %}rgba(172, 165, 48, 1){% endblock %}
{% block sol_col %}rgba(172, 165, 48, 1){% endblock %}
{% block image_slide %}
     <style>
        h1, h2, h3{
            font-weight: 600;
        }
    </style>
    <div class="col-lg-6 left-carousel">
        <div id="myCarousel" class="carousel slide">    <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img src="/static/images/nutrition1.PNG" alt="First slide"></div>
                <div class="item"><img src="/static/images/nutrition2.PNG" alt="Second slide"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
{% endblock %}
{% block bsid_heading %}
    LOOK & FEEL YOUNG AGAIN!
{% endblock %}
{% block details %}
    Products With a Healthy Promise!
{% endblock %}
{% block bsid_listing %}
    <li><span class="fa fa-bicycle"></span> No Prescriptions Required</li>
    <li><span class="fa fa-bicycle"></span> Satisfaction Guaranteed</li>
    <li><span class="fa fa-bicycle"></span> Discover the Proven Superior Benefits</li>
    <li><span class="fa fa-bicycle"></span> Fight Free Radicals</li>
    <li><span class="fa fa-bicycle"></span> All Natural the Highest Quality Ingredients</li>
    <li><span class="fa fa-bicycle"></span> Contains NO Preservatives & Artificial Flavors</li>
{% endblock %}

{% block image_blocks %}

    <div class="great-way">
        <h1 class="text-greyish">Forever Living Products Offers the Best of Nature for Your Core Nutrition
            Needs</h1>

        <p>Products With a Healthy Promise!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition4.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition5.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition6.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition7.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition8.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition9.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition10.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/nutrition11.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider line-greyish">
        </div>
    </div>
{% endblock %}
{% block shop_join %}
    <div class="become-member container">
        <h1 class="text-greyish">Enhance Your Health & Transform Your Life with Forever Living!</h1>

        <p>You are just a Click Away from a Healthier Body! JOIN now and SAVE 15%!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-greyish">
    </div>
{% endblock %}
{% block content_writing %}

    <h1 class="text-center text-greyish panel-head">Forever Living Nutrition
    </h1>
    <hr class="trunc-line line-greyish">
    <p>Good health starts with good nutrition, with Forever Living Nutrition . With today’s farming methods depleting
        the natural mineral content of our lands, we can no longer rely on our foods to completely provide us with the
        essential vitamins and minerals that our bodies need. More people are turning to Forever Living nutrition,
        supplements as a means of getting sufficient quantities of those vital nutrients that can make a difference to
        their quality of health.
    </p>
    <p>
        Forever Living Nutrition made from the finest ingredients, grown or collected from the best sources and produced
        with the most advanced technology. Each Forever Living Nutrition retain their original nutritional value,
        encouraging both good health and peace of mind.
    </p>

    <h2>Forever Living Nutrition with Discounts</h2>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Artic Sea
            Super Omega 3
        </div>
        <div class="panel-body"> Forever Artic Sea Super Omega 3 is a breakthrough in terms of a balanced supplement,
            using both vegetables and fish oils to derive the benefits of each. Omega 3 is an essential polyunsaturated
            fatty acid found in salmon and other seafood. Omega 9 is the unsaturated fatty acid found in vegetable
            products, like olive oil. Contains Fish ( Salmon, Anchovy, Mackerel, Sardines.) Kosher Certified . One of
            the best selling Forever Living Nutrition.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Absorbent C
        </div>
        <div class="panel-body">
            Absorbent C with Oat Bran is an outstanding dietary supplement. It combines two vital nutrients into one
            convenient product. The bonded matrix composition, developed through a unique process, is an effective
            delivery system to help absorption of vitamin C from each tablet. A daily intake of Absorbent C is highly
            recommended for good health. Other chewable Forever Living nutritions: Forever Kids, Forever Nature 18,
            Fields of Greens, Gin Chia.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutriton for Joints: Forever Active Ha
        </div>
        <div class="panel-body">
            Forever Active Ha provides a unique form of low molecular weight hyaluronic acid, with moisturizing and
            lubricating properties, plus Ginger Oil and Turmeric – making it one of the most powerful nutritional joint
            and skin moisturizing supplements on the market. Contains soy. To get the best result take 2 tablets daily
            with 4oz Forever Freedom aloe vera drink.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever A Beta
            Care
        </div>
        <div class="panel-body">
            Forever A Beta Care is an essential formula combining vitamin A (beta carotene) and E, plus the antioxidant
            mineral Selenium. Antioxidants are vital in the fight against free radicals (chemical molecules that arise
            from pollutants in the body and damage healthy cells). Contains soy.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Active
            Probiotic
        </div>
        <div class="panel-body">
            Forever Active Probiotic is designed to help overcome imbalances created by our food and lifestyle choices,
            which can inadvertently lead to a reduction in the amount of naturally occurring ‘good’ bacteria in our
            system. Aloe Vera Gel acts as a ‘prebiotic’, which fosters the growth of and provides the ideal environment
            for the probiotic to function. Contains soy.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever B12 with
            Folic Acid
        </div>
        <div class="panel-body">
            Vitamin B12 and folic acid combine in this time-release formula to help support metabolic processes,
            including cell division, DNA synthesis, red blood cell production and proper nerve function, while helping
            maintain healthy homocysteine levels.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Healthy Bones with
            Forever Calcium
        </div>
        <div class="panel-body">
            Forever Calcium is an ultra-dense Calcium Citrate formula that supplies your body with 100% of the daily
            recommended dietary intake of calcium. Four Forever Calcium tablets contain 1000 mg of calcium combined with
            vitamin D and magnesium – two elements that are essential for maximizing calcium absorption. Contains soy.
            Forever Living nutrition for healthy bones: Forever Calcium, Forever Nature min, Forever Argi+ and Forever
            Freedom aloe vera drink.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Fields of Greens
        </div>
        <div class="panel-body">
            With today’s busy lifestyles and the convenience of fast food, we all too often neglect fresh, green foods.
            Forever Living Products provides a simple solution to “convenience eating” in Fields of Greens. One glance
            at its ingredient list reveals a cornucopia of green foods to fill this gap. Contains wheat.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Echinacea
            Supreme
        </div>
        <div class="panel-body">
            Forever Echinacea Supreme contains both of the most highly prized forms of Echinacea (Purpurea and
            Angustifolia) plus Grape Seed Extract for maximum benefits. Other Immune support Forever Living Nutrition:
            Forever Immublend, Forever Argi+, Aloe Vera gel.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Argi+
            L-arginine supplement and vitamin complex
        </div>
        <div class="panel-body">
            Forever ARGI+ provides 5 grams of L-Arginine per serving plus synergistic vitamins to give your body the
            boost it needs to keep going all day long. L-Arginine is an amino acid that plays many important roles in
            the body, from aiding cell division to building protein and boosting nitric oxide production. Mixed with
            Forever Natural Spring Water or Aloe Vera Gel for an added boost, you will love the taste of Forever ARGI+!
            One of the best selling Forever Living Nutrition. Would you like to learn more about Forever Living
            Nutritions? Read more here: Forever Argi+
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Garlic
            Thyme
        </div>
        <div class="panel-body">
            Garlic and thyme, the two powerful antioxidants found in Forever Garlic Thyme, combine to create a great
            tool in maintaining good health. When garlic is cut or crushed, enzymes react to produce a powerful
            immunity-enhancing agent. Studies have shown that garlic’s other ingredients help the metabolism convert
            fats to energy and protect the body against free radicals. Contains soy. One of the best selling Forever
            Living Nutrition.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Increase Energy
            with Forever Gin Chia
        </div>
        <div class="panel-body">
            Two ancient herbs: golden chia from the West and ginseng from the East, give your body back what your busy
            lifestyle takes out. Forever Gin Chia contains soy. Chewable tablet, take 3-4 tablets daily. Replace your
            coffee intake with these Forever Living Nutrition: Forever Gin Chia and Forever Active Boost.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for memory improvements: Forever Ginkgo Plus
        </div>
        <div class="panel-body">
            Feed your creativity with ginkgo biloba. Forever Ginkgo Plus has been shown to increase circulation of blood
            to the brain, elevate mood and energy, and increase concentration, alertness, and metabolism. For best
            results take 2 tablets daily with 4oz Aloe Vera Gel. Forever Living Nutrition for brain power: Forever
            Gingko Plus and Forever Royal Jelly.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Lycium
            Plus
        </div>
        <div class="panel-body">
            A Chinese fruit used for centuries, lycium has been shown to enhance the complexion and help maintain energy
            and good vision. Forever Lycium Plus is a dietary supplement containing antioxidants, bioflavonoids and
            other beneficial phytonutrients. Forever Living Nutrition against free radicals: A beta Care, Forever Lycium
            Plus, Forever Argi+, Forever Pro 6. Highly recommended taking 3 tablets daily, for better results drink 4oz
            Aloe Vera gel daily.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Multi Maca
        </div>
        <div class="panel-body">
            Forever Multi Maca combines legendary Peruvian Maca with other powerful herbs and select ingredients for
            reproductive health support. Contains soy. Multi Maca is one of the best selling Forever Living Nutrition.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for Prostate Health: Forever Pro 6/ Vitolize for Men
        </div>
        <div class="panel-body">
            Forever Pro 6/Vitolize for Men is a blend of six vitamins, minerals and herbs to help support prostate
            health. Take 2 tablets daily. To get the best result, Forever Pro 6 is highly recommended to take it with
            4oz Aloe Vera gel daily. Excellent nutritional supplement for prostate problems. Read more about Forever Pro
            6 here: Prostate health.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Naturel Mineral
            Forever Living Nutrition: Forever Nature Min
        </div>
        <div class="panel-body">
            Forever Nature Min is an advanced, multi-mineral formula using bio-available forms of minerals for maximum
            absorption. It provides minerals and trace minerals in a perfectly balanced ratio for maximum efficiency.
            Using a mineral base of natural seabed deposits and chelated marine plants and animals, Forever Nature Min
            provides most of the minerals found in the human body.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for better sight: Forever Vision
        </div>
        <div class="panel-body">
            Forever Vision is a dietary supplement with bilberry, lutein and zeaxanthin, plus super antioxidants and
            other nutrients. Take 2 tablets daily. To get better results take it with 4oz Aloe Vera Gel on a daily
            basis.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for all ages: Forever Nature’s 18
        </div>
        <div class="panel-body">
            Forever Nature’s 18 is an easy-to chew tablet that delivers your daily requirement of antioxidants from
            fruits and vegetables. Forever Nature’s 18 is Forever Living’s way of assuring you that no matter what your
            day throws at you, the antioxidant benefits of 5 servings of fruits and vegetables are conveniently at your
            disposal!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for Healthy Heart: Forever CardioHealth with CoQ10
        </div>
        <div class="panel-body">
            (30 individually foil-wrapped packets) Forever CardioHealth with CoQ10 is an exclusive formula designed to
            mix with our Aloe Vera Gel to provide three important nutritional supports for cardiovascular health.
            Contains soy.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for kids : Forever Kids Chewable Multivitamins
        </div>
        <div class="panel-body">
            Give your kids the nutrients they need each day with Forever Kids Chewable Multivitamins. These fun and
            delicious, grape flavored multivitamins provide both adults and growing kids ages two and older with the
            vital vitamins, minerals and phytonutrients they may be lacking. One of the best selling Forever Living
            Nutrition. Other Forever Living Nutrition for kids: Absorbent C (chewable), Fields of Greens (chewable),
            Forever Nature 18 (chewable). Highly recommended to take these Forever Living Nutritions with 2-4oz Aloe
            Berry nectar or Bits n Peaches aloe vera drinks daily.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greyish panel-head"><span class="fa fa-check-circle"></span> Forever Living
            Nutrition for Immune support: Forever Immublend
        </div>
        <div class="panel-body">
            Forever ImmuBlend contains a proprietary blend of fructooligosaccharides (FOS), lactoferrin, maitake and
            shiitake mushrooms and other specific nutrients designed to support the immune system. It helps the body’s
            biological defense system to operate at peak performance so you can carry on your daily routine without
            interruption. One of the best selling Forever Living Nutrition. Other Forever Living Products for immune
            support: Forever Argi+, Echinacea Suppreme, Forever Bee Pollen.
        </div>
    </div>



{% endblock %}
