{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    Forever Living Personal Care
{% endblock %}

{% block car_bg %}bg-reddish{% endblock %}
{% block bg_clor %}bg-reddish{% endblock %}
{% block form_bg %}bg-reddish{% endblock %}
{% block image_slide %}
    <style>
        h1, h2, h3{
            font-weight: 600;
        }
    </style>

    <div class="col-lg-6 left-carousel">
        <div id="myCarousel" class="carousel slide">    <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img src="/static/images/care1.PNG" alt="First slide"></div>
                <div class="item"><img src="/static/images/care2.PNG" alt="First slide"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

{% endblock %}

{% block bsid_heading %}
    PERSONAL CARE FOR THE WHOLE FAMILY
{% endblock %}
{% block details %}

{% endblock %}
{% block bsid_listing %}
    <li><span class="fa fa-bicycle"></span> Safe & Natural Aloe Deodorant</li>
    <li><span class="fa fa-bicycle"></span> Aloe Toothpaste for Sensitive Teeth</li>
    <li><span class="fa fa-bicycle"></span> Alcohol FREE Aftershave</li>
    <li><span class="fa fa-bicycle"></span> Aloe & Royal Jelly Hair Care</li>
    <li><span class="fa fa-bicycle"></span> Alcohol Free Hair Spray</li>
    <li><span class="fa fa-bicycle"></span> Antibacterial Aloe Soap</li>
{% endblock %}

{% block image_blocks %}

    <div class="great-way">
        <h1 class="text-reddish">Beautiful Healthy Hair, Nail & Skin is Now Only a Click Away!</h1>

        <p>With Forever Living Products You can NOT Go Wrong!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care4.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care5.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care6.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care7.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care8.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-lg-offset-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care9.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care10.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care11.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/care12.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider line-reddish">
        </div>
    </div>
{% endblock %}
{% block shop_join %}
    <div class="become-member container">
        <h1 class="text-reddish">Beautiful Healthy Skin is Now Only a Click Away from You!</h1>

        <p>Shop Now or Join to receive 15% Discount Instantly!!!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-reddish">
    </div>
{% endblock %}
{% block content_writing %}
    <h1 class="text-center text-reddish panel-head"><span class="fa fa-check-circle"></span>
        Forever Living Personal Care
    </h1>
    <hr class="trunc-line line-reddish">
    <p>
        Forever Living Products has combined all the benefits of aloe vera gel with the finest quality ingredients to
        offer you a range of natural personal care products that are second to none. From head to toe, our products have
        you covered with pure, stabilized Aloe Vera. From lotions and gels to shampoos and cleansers, look and feel your
        best with our complete Forever Living Personal Care line!
    </p>
    <br>
    <h1 class="text-center text-reddish panel-head"><span class="fa fa-check-circle"></span>
        Buy Forever Living Personal Care Products
    </h1>
    <hr class="trunc-line line-reddish">
    <p>
        Forever Living Personal Care Products are not sold in stores but you can buy it here online. Please enter retail
        store above to purchase your favorite Forever Living personal care product today. Receive 15% discount instantly
        on your orders of 50$ or more. For details please visit: Forever Living Discounts.
    </p>
    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Aloe Liquid Soap
        </div>
        <div class="panel-body"> Biodegradable, pH-balanced and non-irritating, it is mild enough for daily facial, hand
            or body cleansing, and is suitable for those with sensitive skin. Available with a handy, easy-to-use pump
            dispenser, this delightfully scented product is perfect for the entire family! Excellent product from the
            Forever Living Personal Care line.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Forever Bright
            Toothgel
        </div>
        <div class="panel-body"> Forever Bright is a gentle, non-fluoride formula combining 100% stabilized Aloe Vera
            gel with bee propolis. Forever Bright Toothgel is one of the best selling from Forever Living Personal Care
            Products.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Aloe Lips with Jojoba
        </div>
        <div class="panel-body"> The soothing properties of Aloe Vera are ideally suited to care for your lips. Aloe,
            Jojoba and Beeswax combine to create the finest all-season lip product on the market today. Aloe Lips
            soothes, soothes and moisturizes chapped and dry lips.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Aloe Ever Shield
            Deodorant
        </div>
        <div class="panel-body"> Made with stabilized Aloe Vera gel, this gentle blend of ingredients contains none of
            the harmful anti-perspirant aluminum salts found in many other deodorants on the market. Aloe Ever Shield
            Deodorant is one of the best selling from Forever Living Personal Care Products.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Forever Gentleman’s
            Pride aftershave
        </div>
        <div class="panel-body"> In the form of a smooth, silky lotion, it doubles as a skin conditioner to soothe and
            replenish the skin after shaving. The Aloe Vera, mixed with special conditioners such as Rosemary and
            Chamomile, helps to gently soothe the skin.(Forever Living Personal Care for Men)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> 25th Edition Cologne
            for Men 1.7 oz
        </div>
        <div class="panel-body"> 25TH Edition for Men is a fluid, aromatic fougère fragrance with a sensuous masculine
            blend of fruity, herbaceous and woody notes that are forever fresh and long lasting.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> 25th Edition Perfume
            Spray for Women 1.7 oz
        </div>
        <div class="panel-body"> 25TH Edition for Women is a fresh, white floral bouquet that blends sheer petals with
            warm, musky woods to create a soft and deep feminine character.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Relaxation Bath Salt
        </div>
        <div class="panel-body"> Soak away your cares with our aromatic blend of legendary Dead Sea Salt, Lavender, and
            other essential oils.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Relaxation Massage
            Lotion
        </div>
        <div class="panel-body"> Experience the soothing, skin conditioning benefits of Aloe Vera, essential oils, white
            tea and fruit extracts in this easy-gliding, non-greasy massage lotion.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Relaxation Shower Gel
        </div>
        <div class="panel-body"> Enjoy advanced skin care each time you shower with our fragrant Relaxation Shower Gel,
            formulated with Aloe Vera, essential oils and fruit extracts.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Avocado Face and Body
            Soap
        </div>
        <div class="panel-body"> This pure and gentle soap bar contains the rich, moisturizing properties of avocado
            butter, leaving your face and body feeling wonderfully smooth and clean. Its fresh citrus scent will
            invigorate you each time you bathe. Forever Avocado Face and Body Soap is one of the best selling from
            Forever Living Personal Care Products.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Forever Aloe MPD Multi
            Purpose Detergent
        </div>
        <div class="panel-body"> A biodegradable, multi-purpose detergent concentrate that’s great for lifting grime,
            cutting grease and removing stains.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Forever Hand Sanitizer
            with Aloe and Honey
        </div>
        <div class="panel-body"> Forever Hand Sanitizer is designed to kill 99.99% of germs. Our moisturizing formula
            contains skin-soothing stabilized Aloe Vera gel along with the hydrating goodness of honey.
        </div>
    </div>

    <br>
    {#    facial products   #}
    <br>

    <h1 class="text-center text-reddish panel-head"><span class="fa fa-check-circle"></span>
        Forever Living Personal Care for Animals
    </h1>
    <hr class="trunc-line line-reddish">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Aloe Veterinary
            Formula Spray
        </div>
        <div class="panel-body"> Aloe Veterinary Formula is made with stabilized Aloe Vera gel as its primary ingredient
            and is ideally suited for minor external abrasions or irritations. Allantoin, a naturally soothing
            substance, is the other main ingredient. The nozzle-control spray makes application to any size or type of
            pet easy. Aloe Veterinary Formula can provide quick and soothing relief. Excellent and the best selling
            products from our Forever Living Personal Care.
        </div>
    </div>

    <br>
    <h1 class="text-center text-reddish panel-head"><span class="fa fa-check-circle"></span>
        Forever Living Personal Care for Hair
    </h1>
    <hr class="trunc-line line-reddish">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Forever Aloe Styling
            Gel
        </div>
        <div class="panel-body"> This revolutionary Aloe-based, multi-use styling gel fortifies and repairs your hair
            while giving you the flexibility to create any style you choose. Whether you finger-style, air-dry or
            blow-dry your hair, Forever Aloe Styling Gel is ideal for any hair type and look. Excellent Forever Living
            Personal Care product for men and women.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Aloe-Jojoba Shampoo
        </div>
        <div class="panel-body"> Achieve shiny, soft and manageable hair with this pH-balanced, Aloe-rich formula.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Aloe-Jojoba
            Conditioning Rinse
        </div>
        <div class="panel-body"> Enriched with Vitamin B Complex and Hydrolyzed Protein, this formula has extra
            moisturizing and conditioning power for softer, more manageable hair.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-reddish panel-head"><span class="fa fa-check-circle"></span> Forever Aloe Pro Set
        </div>
        <div class="panel-body"> An alcohol-free, protein-rich formula that strengthens, conditions and moisturizes as
            it provides long-lasting, natural hold!
        </div>
    </div>

    <br>
    <br>


{% endblock %}
