{% extends 'aloe-4us-carousel.html' %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Forever Living Weight Management Products">
    <meta name="keywords" content="aloe weight, aloe vera weight management, weight management, forever living products weight management, true aloe health weight management">
    <meta property="og:title" content="Forever Living Weight Management Products">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Forever Living Weight Management Products">
    <meta property="og:image" content="http://truealoehealth.com/media/image-uploads/aloe.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block title %}
    Forever Living Weight Management Products
{% endblock %}
{% block car_bg %}bg-greenish{% endblock %}
{% block bg_clor %}bg-greenish{% endblock %}
{% block form_bg %}bg-greenish{% endblock %}
{% block image_slide %}
    <br>
    <div class="container">
        <h1 style="color: white; font-weight: 600;">Forever Living Weight Management</h1>
    </div>
    <style>
        h1, h2, h3 {
            font-weight: 600;
        }
    </style>
{% endblock %}
{% block divider %}
{% endblock %}

{% block bsid_heading %}
    {#    IT'S BEAUTY AS NATURE INTENDED#}
{% endblock %}
{% block details %}
    {#    IT JUST LOOKS HOT#}
{% endblock %}
{% block bsid_listing %}
    {#    <li><span class="fa fa-bicycle"></span> Clinically Proven Natural Ingredients</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Active Botanicals Moisturize, Nourish & Protects</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Best Solution for Sensitive Skin</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Ideal for all Skin Types</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Gives Skin a Fresh, Radiant Glow</li>#}
{% endblock %}

{% block image_blocks %}




{% endblock %}
{#{% block shop_join %}#}
{#    <div class="become-member container">#}
{#        <h1 class="text-greenish">Wake Up Your Complexion & Get Your Glow On!</h1>#}
{##}
{#        <p>Register Today & SAVE 15% Instantly! It's 100% FREE to JOIN!</p>#}
{##}
{#        <div class="buy-or-join">#}
{#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
{#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
{##}
{#            <div class="cards">#}
{#                <span class="fa fa-cc-visa"></span>#}
{#                <span class="fa fa-cc-mastercard"></span>#}
{#                <span class="fa fa-cc-paypal"></span>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="divider line-greenish">#}
{#    </div>#}
{#{% endblock %}#}
{% block content_writing %}
    <h1 class="text-center text-greenish panel-head">
        Forever Living Weight Management
    </h1>
    <hr class="trunc-line line-greenish">
    <p>
        Today, more people than ever are conscious of their weight and living a healthy lifestyle. What would you
        consider to be the ideal diet? It should taste good, be easy to follow, boost energy levels, and of course, keep
        the pounds off.
    </p>
    <p>
        Good news! Our range of weight management products assists you in doing that and more. Let Forever Garcinia
        Plus, Forever Lean Tablet, Forever Fast Break Energy Bar, Forever Lite Ultra, Clean 9 Program and Nutri Lean
        weight management program help you reach your weight management goal!
    </p>

    <div class="great-way">
        <h1>Finally!! Weight Loss Made Easy with Forever!</h1>

        <p>Control Your Weight! Live a Healthy Lifestyle!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/weightman1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/weightman2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/weightman3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/weightman4.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/weightman5.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/weightman6.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>


    <div class="become-member">
        <h1>
            Become a Member & Enjoy The Benefits! Upto 35% Discounts!
        </h1>

        <p>
            Compare the Savings When Buying Forever Clean 9 Package!
        </p>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div">
                            <h3>Non Member</h3>

                            <p>Price for clean 9</p>
                        </div>
                        <br>

                        <h1>$96.40</h1>
                        <ul>
                            <li>Registration: None</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: None</li>
                            <li>Total Savings: None</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#shopModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-1">
                            <h3>New Member</h3>

                            <p>Price for Clean 9</p>
                        </div>
                        <br>

                        <h1>$81.94</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: 15%</li>
                            <li>Total Savings: $14.46</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#joinModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-2">
                            <h3>Wholesaler</h3>

                            <p>Price for Clean 9</p>
                        </div>
                        <br>

                        <h1>$62.60</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: $100</li>
                            <li>Discount: 35%</li>
                            <li>Total Savings: $33.80</li>
                        </ul>
                    <span class="act-now">
                        <a href="/discounts">Act Now!</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center text-greenish panel-head"><span class="fa fa-check-circle"></span>

    </h1>


    <br>



    <hr class="divider line-greenish">
    <br>
    <div class="become-member container">
        <h1 class="text-greenish">SHOP or JOIN NOW & SAVE 15%-48%!</h1>

        <p>Interested? What Are You Waiting For? There is Nothing to Lose!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-greenish">
    </div>

    <br>

    <h1 class="text-center text-greenish panel-head"><span class="fa fa-check-circle"></span>
        Buy Forever Living Weight Management Products
    </h1>
    <hr class="trunc-line line-greenish">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-greenish panel-head"><span class="fa fa-check-circle"></span> Forever Garcinia Plus
            weight management capsules
        </div>
        <div class="panel-body"> The garcinia cambogia fruit contributes a compound which reduces the body’s conversion
            of carbohydrates into fats. Hydroxycitric acid (HCA), a natural appetite suppressant, inhibits the enzyme
            that converts calories into fat. 70 soft gel capsules.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greenish panel-head"><span class="fa fa-check-circle"></span> Forever Lite Ultra
            with Aminotein
        </div>
        <div class="panel-body"> Forever Lite Ultra with Aminotein is the perfect addition to your healthy Forever
            Living lifestyle, Forever Lite ultra with Aminotein integrates new thinking with new technologies to help
            you maintain a healthy diet and lifestyle.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greenish panel-head"><span class="fa fa-check-circle"></span> Forever Lean weight
            management tablet (120 capsules)
        </div>
        <div class="panel-body"> Forever Lean contains two revolutionary ingredients that can help reduce the body’s
            absorption of calories from fat and carbohydrates.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greenish panel-head"><span class="fa fa-check-circle"></span> Forever Fast Break
            Energy Bar
        </div>
        <div class="panel-body"> A great-tasting, low-calorie alternative to skipping meals. Each bar contains at least
            50% of the USRDI for vitamins and minerals, plus amino acids, enzymes and phosphorus, to help our bodies
            recover from over-exertion, as well as enhance energy levels by speeding up the metabolism of fats and
            carbohydrates. 230 calories per bar. 2 oz.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greenish panel-head"><span class="fa fa-check-circle"></span> Aloe Blossom Herbal
            Tea
        </div>
        <div class="panel-body"> Simply the finest herbal tea available. Seasoned with just the right touch of aloe
            blossoms, it secures its subtle flavor with cinnamon and ginger from China, fragrant cloves from Madagascar,
            soothing allspice from Jamaica, zesty orange peel (full of vitamin C), cardamom, fennel, chamomile,
            blackberry leaf, and gymnema sylvestre. Naturally low in calories and caffeine-free. 25 individually
            foil-wrapped bags.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-greenish panel-head"><span class="fa fa-check-circle"></span> Forever Clean 9
            Program
        </div>
        <div class="panel-body">
            <h1 class="center text-greenish">A 9-day Nutritional Body Detox Program</h1>

            <p class="center">includes Aloe Vera Gel, Forver Garcinia Plus, Forever Therm, Forever Ultra Lite and
                Forever Fiber</p>

            <div class="row">
                <div class="col-lg-4 card-like">
                    <img src="/static/images/weight1.PNG" alt="Weight 1" class="img-responsive">

                    <h2>Instruction Booklet</h2>

                    <p>
                        Follow the step by step instruction from this little booklet to remove toxin from the body,
                        melts away excess fat, and help create lean muscles. Forever Clean 9 takes care of your body
                        needs while it helps you achieve your goals - it improves body metabolism while eliminates
                        toxins from the body, and at the same time maintaining nutritional balance without starving your
                        body cells.
                    </p>
                </div>
                <div class="col-lg-4 card-like">
                    <img src="/static/images/weight2.PNG" alt="Weight 2" class="img-responsive">

                    <h2>Aloe Vera Gel (2 Bottles)</h2>

                    <p>
                        Containing over 200 nutritional compounds. Rich in soluble and insoluble fiber, helps to cleanse
                        the intenstine and improve bowel movement. A clean digestive system helps to free up the liver
                        to metabolize fat efficiently, thus storing less fat, making it helpful in weight management.
                        Rich in Acemannans, Vitamin A,C,E that are helpful in maintaining a healthy immune system.
                    </p>
                </div>
                <div class="col-lg-4 card-like">
                    <img src="/static/images/weight3.PNG" alt="Weight 3" class="img-responsive">

                    <h2>Forever Garcinia - 54 Softgels</h2>

                    <p>
                        The primary ingredient is a natural substance derived from the fruit of a Southern Asia tree,
                        the Garcinia Cambogia.It contains Hydroxycitric Acid that can help to reduce conversion of
                        carbohydrate to fat. Effective in promoting satiety (feeling of fullness). Added with Safflower
                        Oil that helps to keep blood vessels flexible and healthy.
                    </p>
                </div>
                <div class="clearfix visible-lg"></div>
                <div class="col-lg-4 card-like">
                    <img src="/static/images/weight4.PNG" alt="Weight 4" class="img-responsive">

                    <h2>Forever Fiber - 9 Packet</h2>

                    <p>

                    </p>
                </div>
                <div class="col-lg-4 card-like">
                    <img src="/static/images/weight5.PNG" alt="Weight 5" class="img-responsive">

                    <h2>Forever Lite Ultra</h2>

                    <p>
                        Each shake contains 18 amino acids (including all 8 essential ones), 12 Vitamins and 6 Minerals
                        which includes Calcium, Iron, Zinc, Phosphorus, Magnesium, B vitamins and others. Soy Protein
                        helps promote satiety (feeling of fulness) and increase muscle mass. 90 calories each shake
                        (powder only). Contains protein enzymes (Aminotein) which helps in proper breakdown and
                        absorption of protein.
                    </p>
                </div>
                <div class="col-lg-4 card-like">
                    <img src="/static/images/weight6.PNG" alt="Weight 6" class="img-responsive">

                    <h2>Forever Therm - 18 Tablets</h2>

                    <p>
                        The products in Clean 9 work synergistically to help the body detox. Your body will thank you
                        for it! Say Bye Bye to Toxins! Remember, always consult your doctor before starting this or any
                        other diet or exercise program. Not all exercise are suitable for everyone. The results
                        mentioned are not typical and are specific only to the featured participants.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="become-member container">
        <h1 class="text-reddish">What Are You Waiting For? Order Forever Clean 9 Today & Get Ready for The Bikini!</h1>

        <p>Say YES to FOREVER CLEAN 9 !!! Join Now & Save 15% Instantly</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
        <hr class="divider line-reddish">
    </div>



{% endblock %}
