{% extends 'base.html' %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Become a member of Forever Living and Enjoy mind blowing benefits">
    <meta name="keywords" content="aloe, register forever living nigeria, join forever living, signup for forever living discounts, true aloe health discounts, forever living nigeria">
    <meta property="og:title" content="Join Forever Living Today">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Become a member of Forever Living and Enjoy mind blowing benefits">
    <meta property="og:image" content="http://truealoehealth.com/static/images/rolf%20kipp.PNG" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block title %}
    Become a distributor of Forever living Products
{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div class="container">
        <div class="row why-forever">
            <div class="col-xs-12 why-container">
                <h2>Why Forever Living?</h2>
                <hr class="divider">
                <ul>
                    <li><span class="fa fa-thumbs-o-up"></span> Highest Quality Aloe Vera Products</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Most Effective at Affordable Prices</li>
                    <li><span class="fa fa-thumbs-o-up"></span> 15-48% Discounts for Registered Members</li>
                    <li><span class="fa fa-thumbs-o-up"></span> FREE Registration, NO Membership Fee</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Over 35 Years of Experience</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Global Business Opportunity</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Low Investment with Unlimited Income</li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <div class="great-way">
        <h1>Take the First Step to Begin Your Journey to Financial Freedom!</h1>

        <p>These Top Distributors all Started with the Combo Pack!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/altida.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/rolf%20kipp.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist1.PNG" alt="" class="img-responsive">
                </div>
                <div class="clearfix visible-xs">

                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/dist4.PNG" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>

    <div class="great-way">
        <h1>Earning Potentials are Endless with Forever Living!</h1>

        <p>Choose Any or Choose All! It's Up to YOU!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Retail Profits
                        </h3>

                        <div class="reason-body">
                            43% retail profit
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            New Distributor Profit
                        </h3>

                        <div class="reason-body">
                            21% profit on personally sponsored New Distributor purchases
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Personal Bonus
                        </h3>

                        <div class="reason-body">
                            5% to 18% on retail sales of personal volume
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Volume Bonus
                        </h3>

                        <div class="reason-body">
                            3% to 13% on retail sales of group volume
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Leadership Bonus
                        </h3>

                        <div class="reason-body">
                            6%, 3%, 2% on 1st, 2nd and 3rd generation managers
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Gem Bonus
                        </h3>

                        <div class="reason-body">
                            Increased earning on downline managers
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Earned Incentive Bonus/Car Plan
                        </h3>

                        <div class="reason-body">
                            Up to 800$/month
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Chairman's Bonus Payment
                        </h3>

                        <div class="reason-body">
                            Share in a generous yearly program that pays to build a global business
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <h3 class="reason-header">
                            Exotic Vacations
                        </h3>

                        <div class="reason-body">
                            Earn Trips around the world
                        </div>
                    </div>
                </div>

            </div>
            <hr class="divider">
            <div class="quote">
                <span class="fa fa-quote-left"></span> One of the greatest sources of illness in the world today is an empty
                wallet. If you want to decrease the number of stomach problems or the ill-effects of depression, then give a
                person a chance to earn a living - this is a powerful remedy <span class="fa fa-quote-right"></span>
                <br>
                <small>- Rex Maughan - founder of Forever Living Products L.L.C.</small>
            </div>
        </div>
    </div>

    <div class="become-member container jumbotron">
        <h1>Begin Your Journey HERE to Financial Freedom!</h1>

        <p>Join Now & Save 15% Instantly! No Minimum Purchase Necessary!

        </p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>


    </div>

    <div class="become-member container">
        <h1>Become a distributor of Forever Living Products</h1>

        <p>Becoming a distributor of Forever Living Products is really simple, the only thing you have to do is fill
            out
            the online application form. It is absolutely FREE!</p>

        <ul>
            <li><span class="fa fa-times"></span> No membership!</li>
            <li><span class="fa fa-times"></span> No minimum order required for Novus Customers!</li>
            <li><span class="fa fa-times"></span> No registration fee!</li>
            <li><span class="fa fa-times"></span> No set up fee!</li>
            <li><span class="fa fa-times"></span> No hidden fee!</li>
            <li><span class="fa fa-times"></span> No obligation!</li>
        </ul>

        <p>
            There is nothing to lose to become a distributor of Forever Living Products. Click
            <a href="#" data-toggle="modal" data-target="#joinModal">Join Now</a> button to fill out
            the official Forever Living Products distributor online application form to become a distributor of Forever
            Living.
        </p>

        <p>
            <em>(You might need my sponsor id to get registered: 001002309805, Olaoye Oyeleke).</em> It doesn't take long to
            complete the form, and after 15 minutes you will receive your distributor number and password by email. Forever
            Living products will no longer send id cards by mail, you can print it by visiting the main page of FLP, under
            <b>MY ACCOUNT</b> tab. Don’t hesitate to become a distributor of Forever Living Products.
        </p>

        <p>
            As soon as you have your own id number you can log in to your Forever Living account and start shopping at new
            distributor price, saving 15% on your orders. If you want to start your own business please contact me and I’ll
            help you to get started. Congratulation for your decision! You’ve just become a distributor of Forever Living
            Products.
        </p>

    </div>

    <div class="container faq">
        <h3>FAQ</h3>
        <hr class="trunc-line product-line-2">
    </div>

    <div class="container panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample">
                        <span class="fa fa-question-circle-o"></span>
                        How much will it cost me to get started and become a distributor of Forever Living Products?
                    </a>
                </h4>
            </div>
            <div id="collapseexample" class="panel-collapse collapse">
                <div class="panel-body"> It will actually cost you nothing to become a distributor and get started building
                    your own Forever Home Based business. Forever Living will not charge you for
                    any application fee to become a distributor but will encourage you to purchase the started kit, Touch of
                    Forever Combo Pack which is a started selection of the best selling products.
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample1">
                        <span class="fa fa-question-circle-o"></span>
                        What is Network Marketing and how MLM works?
                    </a>
                </h4>
            </div>
            <div id="collapseexample1" class="panel-collapse collapse">
                <div class="panel-body"> Network marketing is a method of moving products and services. A lot of people
                    involved in the distribution of the products though a multi layered organization. Independent
                    distributors share the products with others, thus gaining them as customers, or they sponsor others in
                    the business and teach them to build their own distribution networks called down-lines. The main point
                    is that there is a direct contact between person to person, between people who learn about the Forever
                    Living products and those who use the aloe products and benefit from them. It is actually a ‘people’
                    business.
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample2">
                        <span class="fa fa-question-circle-o"></span>
                        Is Forever Living a pyramid scheme?
                    </a>
                </h4>
            </div>
            <div id="collapseexample2" class="panel-collapse collapse">
                <div class="panel-body"> NO. In Forever Living, distributors are winners all in the organization and
                    everybody has the same opportunity to reach to the top. In Forever Living the top is big enough to hold
                    everybody with the desire and ambition to get there. There is no limit. So do not hesitate to become a
                    distributor of Forever Living Products!
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample3">
                        <span class="fa fa-question-circle-o"></span>
                        How to start your Forever Living Business?
                    </a>
                </h4>
            </div>
            <div id="collapseexample3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        Everybody gets started the same way. Somebody you know or somebody who you meet
                        will share the excitement what they feel about the Forever Living products what they use, they share
                        their extraordinary results. Then you register and become a distributor of Forever Living by purchasing
                        some products, start using them and sharing your own experiences.
                    </p>
                    <p>
                        This is a slow way to build your
                        Forever Living business. There is an other method building your Forever business. You purchase the Touch
                        of Forever Combo pack, reaching the first level of the Forever Living marketing plan. In this way you
                        can buy products at a discounted price (30%) and earn income by making them available to your friends
                        and family.
                    </p>
                    <p>
                        If you want to take the next step, maximize your earnings potentials, you start learning the
                        network marketing skills and start sponsoring others and teaching them how to approach people and build
                        a group of products consumers. You can only win, the opportunity is there and you decide how far you
                        want to go. Did you decided already? Did you become a distributor of Forever Living Products?
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample4">
                        <span class="fa fa-question-circle-o"></span>
                        How much money can you make in Forever Living Business?
                    </a>
                </h4>
            </div>
            <div id="collapseexample4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The answer is very simple: you make as much as you decide to make. Actually
                        everything depends on your involvement in the business. If you start retailing the products to
                        friends
                        and family members, your earnings will be very modest. If your plan is to make a couple of extra
                        dollars
                        each month then this method just right for you, it will work just fine.
                    </p>

                    <p>
                        If your goal is to earn some serious money and do things that you’ve always dreamed of doing Forever
                        Living will help you to reach you goal and get you there. To achieve this level of lifestyle you
                        must
                        build your own down-line organization. To do this you need to start learning, leaning the network
                        marketing skills how to approach and motivate people to sponsor into your business.
                    </p>

                    <p>
                        At the beginning, during this learning period which could be 2-3 months or more, you may see just a
                        few
                        dollars, you may see nothing. But not to worry, the time you invested learning the skills it will
                        pay
                        off.
                    </p>

                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample5">
                        <span class="fa fa-question-circle-o"></span>
                        How much money do the top people in Forever Living Business make?
                    </a>
                </h4>
            </div>
            <div id="collapseexample5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The most successful people in Forever Living Products earn very good money indeed.
                        Six-figure per year incomes are not unusual. Some of the top leaders make $10 000 to several hundred
                        thousand dollars per month!!!!
                    </p>

                    <p>
                        If you want to be a top leader of Forever Living Products you must be extremely focused and
                        consistent.
                        You don’t need to be talented nor educated, rich or handsome. The most important is to be focused.
                        All
                        it takes is desire and a plan of action. You must want something to be successful! So the first step
                        it
                        to become a distributor of Forever Living Products!!!
                    </p>

                    <p>
                        Forever Living provides not only money, it can give you something more important: the time it takes
                        to
                        enjoy the money you’ve made. Forever Living Business can give you and your family a better quality
                        of
                        life. So don’t waste your time, become a distributor of Forever Living Products!!!
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}