{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    C9 Products Instruction Sheet
{% endblock %}


{% block car_bg %}bg-brownish{% endblock %}
{% block bg_clor %}bg-brownish{% endblock %}
{% block form_bg %}bg-brownish{% endblock %}
{% block image_slide %}
    <br>
    <div class="container">
        <h1 style="color: white; font-weight: 600; margin-left: 25px; ">Clean 9 Instruction booklet</h1>
    </div>
    <style>
        h1, h2, h3 {
            font-weight: 600 !important;
        }
    </style>
{% endblock %}
{% block divider %}
{% endblock %}

{% block bsid_heading %}
    {#    IT'S BEAUTY AS NATURE INTENDED#}
{% endblock %}
{% block details %}
    {#    IT JUST LOOKS HOT#}
{% endblock %}
{% block bsid_listing %}
    {#    <li><span class="fa fa-bicycle"></span> Clinically Proven Natural Ingredients</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Active Botanicals Moisturize, Nourish & Protects</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Best Solution for Sensitive Skin</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Ideal for all Skin Types</li>#}
    {#    <li><span class="fa fa-bicycle"></span> Gives Skin a Fresh, Radiant Glow</li>#}
{% endblock %}

{% block image_blocks %}

{% endblock %}
{#{% block shop_join %}#}
{#    <div class="become-member container">#}
{#        <h1 class="text-brownish">Wake Up Your Complexion & Get Your Glow On!</h1>#}
{##}
{#        <p>Register Today & SAVE 15% Instantly! It's 100% FREE to JOIN!</p>#}
{##}
{#        <div class="buy-or-join">#}
{#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
{#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
{##}
{#            <div class="cards">#}
{#                <span class="fa fa-cc-visa"></span>#}
{#                <span class="fa fa-cc-mastercard"></span>#}
{#                <span class="fa fa-cc-paypal"></span>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="divider line-brownish">#}
{#    </div>#}
{#{% endblock %}#}
{% block content_writing %}

    <div class="row">
        <div class="col-lg-6">
            <p>
                Moving towards a healthier lifestyle isn’t easy but few things that are truly worthwhile are. Clean 9 is
                the
                first step in establishing lifelong habits that will help you achieve true and lasting weight
                management. This
                proven cleansing system is the foundation of the Forever F.I.T. program and will put you in the best
                possible
                position to attain optimal health, cleanse your body and build a slimmer, leaner you.
            </p>

            <h1>What can you expect over the next 9 days?</h1>

            <p>
                You’ll look better and feel better and begin to eliminate stored toxins that may be keeping your from
                absorbing the maximum nutrients in your food. You’ll also begin to feel lighter and more energized as
                you prove you can take control of your appetite and see your body begin to change.
            </p>

            <div class="buy-or-join">
                <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
                <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

                <div class="cards">
                    <span class="fa fa-cc-visa"></span>
                    <span class="fa fa-cc-mastercard"></span>
                    <span class="fa fa-cc-paypal"></span>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <br>
            <img src="/static/images/instr1.PNG" alt="Instr 1" class="img-responsive">
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h1 class="orangish">Clean 9 Instruction on 1-2 days:</h1>
    <h3 class="underline">Breakfast</h3>
    <ul>
        <li><span class="fa fa-circle"></span> 2x Forever Garcinia Plus Softgel (taken 20 minutes before the Forever
            aloe Vera Gel)
        </li>
        <li><span class="fa fa-circle"></span> 4 oz Forever Aloe Vera Gel (with a minimum of 8 oz of water)</li>
        <li><span class="fa fa-circle"></span> 1x Forever Therm Tablet</li>
        <li><span class="fa fa-circle"></span> Minimum of 30 minutes of low-intensity exercise</li>
    </ul>

    <br>
    <h3 class="underline">Snack</h3>
    <ul>
        <li><span class="fa fa-play"></span> 1x Packet Forever Fiber (mixed with 8-10 oz water, or other beverage)</li>
    </ul>

    <h3 class="underline">Lunch</h3>
    <ul>
        <li><span class="fa fa-plus"></span> 2x Forever Garcinia Plus Softgel (taken 20 minutes before the Forever aloe
            Vera Gel)
        </li>
        <li><span class="fa fa-plus"></span> Wait 20 minutes</li>
        <li><span class="fa fa-plus"></span> 4 oz Forever Aloe Vera Gel (with a minimum of 8 oz of water)</li>
        <li><span class="fa fa-plus"></span> 1x Forever Therm Tablet</li>
        <li><span class="fa fa-plus"></span> 1x Scoop Forever Lite Ultra (mixed with 10 oz of water, almond milk, light
            soy milk or coconut milk)
        </li>
    </ul>

    <h3 class="underline">Dinner</h3>
    <ul>
        <li><span class="fa fa-bolt"></span> 2x Forever Garcinia Plus Softgel (taken 20 minutes before the Forever aloe
            Vera Gel)
        </li>
        <li><span class="fa fa-bolt"></span> Wait 20 minutes</li>
        <li><span class="fa fa-bolt"></span> 4 oz Forever Aloe Vera Gel (with a minimum of 8 oz of water)</li>
    </ul>


    <h3 class="underline">Evening</h3>
    <ul>
        <li>4 oz Forever Aloe Vera Gel (with a minimum of 8 oz of water)</li>
    </ul>

    <hr>
    <div class="great-way">
        <h1 class="text-brownish">Successful Weight Loss In 69 Days</h1>

        <p>Control Your Weight! Live a Healthy Lifestyle!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/b4after1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/b4after2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/b4after3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/b4after4.PNG" alt=""
                         class="img-responsive">
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>

    <hr>

    <h1 class="orangish">Clean 9 Instruction on 3-9 days:</h1>
    <h3 class="underline">Breakfast</h3>
    <ul>
        <li><span class="fa fa-circle"></span> 2x Forever Garcinia Plus Softgel (taken 20 minutes before the Forever
            aloe Vera Gel)
        </li>
        <li><span class="fa fa-circle"></span> 4 oz Forever Aloe Vera Gel (with a minimum of 8 oz of water)</li>
        <li><span class="fa fa-circle"></span> 1x Forever Therm Tablet</li>
        <li>1x Scoop Forever Lite Ultra (mixed with 10 oz of water, almond milk, light soy milk or coconut milk)</li>
        <li><span class="fa fa-circle"></span> Minimum of 30 minutes of low-intensity exercise</li>
    </ul>

    <br>
    <h3 class="underline">Snack</h3>
    <ul>
        <li><span class="fa fa-play"></span> 1x Packet Forever Fiber (mixed with 8-10 oz water, or other beverage)</li>
    </ul>

    <h3 class="underline">Lunch</h3>
    <ul>
        <li><span class="fa fa-plus"></span> 2x Forever Garcinia Plus Softgel (taken 20 minutes before the Forever Lite
            Ultra)
        </li>
        <li><span class="fa fa-plus"></span> 1x Forever Therm Tablet</li>
        <li><span class="fa fa-plus"></span> 1x Scoop Forever Lite Ultra (mixed with 10 oz of water, almond milk, light
            soy milk or coconut milk)
        </li>
    </ul>

    <h3 class="underline">Dinner</h3>
    <ul>
        <li><span class="fa fa-bolt"></span> 2x Forever Garcinia Plus Softgel (taken 20 minutes before the 600 Calorie
            Meal)
        </li>
        <li><span class="fa fa-bolt"></span> Wait 20 minutes</li>
        <li><span class="fa fa-bolt"></span> 600 Calorie Meal</li>
    </ul>

    <hr>

    <div class="become-member container">
        <h1 class="text-brownish">It's Time to Make a Change with Forever F.I.T.</h1>

        <p>Buy Forever F.I.T or Join & Save 15% NOW!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
    </div>

    <hr>

    <h1>These fruits and vegetables may be eaten in moderation any time during the Clean 9 program</h1>
    <p>
        All of the foods below are low on the glycemic index (GI) – a system that measures how much a particular food
        impacts your blood sugar on a scale of 1 to 100. Foods under 55 are considered low GI. Because these foods are
        low in calories, and have a minimal effect on your blood sugar, these can be enjoyed as a snack throughout the
        day to help curb cravings.
    </p>

    <h3>Free Fruits</h3>
    <ul>
        <li><span class="fa fa-star"></span> Apricots</li>
        <li><span class="fa fa-star"></span> Apples</li>
        <li><span class="fa fa-star"></span> Blackberries</li>
        <li><span class="fa fa-star"></span> Blueberries</li>
        <li><span class="fa fa-star"></span> Boysenberries</li>
        <li><span class="fa fa-star"></span> Cherries</li>
        <li><span class="fa fa-star"></span> Figs</li>
        <li><span class="fa fa-star"></span> Red/Purple Grapes</li>
        <li><span class="fa fa-star"></span> Grapefruit</li>
        <li><span class="fa fa-star"></span> Kiwi Fruit</li>
        <li><span class="fa fa-star"></span> Oranges</li>
        <li><span class="fa fa-star"></span> Peaches</li>
        <li><span class="fa fa-star"></span> Pears</li>
        <li><span class="fa fa-star"></span> Plums</li>
        <li><span class="fa fa-star"></span> Prunes</li>
        <li><span class="fa fa-star"></span> Raspberries</li>
        <li><span class="fa fa-star"></span> Strawberries</li>
    </ul>

    <h3>Free Vegetables</h3>
    <p>
        Vegetables should be eaten raw (with the exception of artichokes and soy) or lightly steamed without fats or
        oils. If desired, enhance the flavor with herbs or your favorite seasoning.
    </p>
    <ul>
        <li><span class="fa fa-star"></span> Apricots</li>
        <li><span class="fa fa-star"></span> Apples</li>
        <li><span class="fa fa-star"></span> Blackberries</li>
        <li><span class="fa fa-star"></span> Blueberries</li>
        <li><span class="fa fa-star"></span> Boysenberries</li>
        <li><span class="fa fa-star"></span> Cherries</li>
        <li><span class="fa fa-star"></span> Figs</li>
        <li><span class="fa fa-star"></span> Red/Purple Grapes</li>
        <li><span class="fa fa-star"></span> Grapefruit</li>
        <li><span class="fa fa-star"></span> Kiwi Fruit</li>
        <li><span class="fa fa-star"></span> Oranges</li>
        <li><span class="fa fa-star"></span> Peaches</li>
        <li><span class="fa fa-star"></span> Pears</li>
        <li><span class="fa fa-star"></span> Plums</li>
        <li><span class="fa fa-star"></span> Prunes</li>
        <li><span class="fa fa-star"></span> Raspberries</li>
        <li><span class="fa fa-star"></span> Strawberries</li>
    </ul>
    <br>
    <hr class="divider line-brownish">
    <h1>Frequently Asked Questions </h1>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample1">
                    <span class="fa fa-question-circle-o"></span>
                    Does the Aloe Gel taste really bad?
                </a>
            </h4>
        </div>
        <div id="collapseexample1" class="panel-collapse collapse">
            <div class="panel-body">
                Personally I don’t mind the taste, it’s slightly bitter, but you get used to it. Worse case add some
                juice to it. (remember sugar free as this will increase your calorie intake) It is said the more toxins
                in your body the worse it will taste!!!! You can also drink it through a straw if this helps.
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample2">
                    <span class="fa fa-question-circle-o"></span>
                    Will I get Headaches?
                </a>
            </h4>
        </div>
        <div id="collapseexample2" class="panel-collapse collapse">
            <div class="panel-body"> Yes the chances are you will get a headache for the first 2 days and after that you
                will feel great. Drink plenty of water and don’t start the Clean 9 on a day when you have a very busy
                schedule. Headaches are a sign your body is detoxing.
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample3">
                    <span class="fa fa-question-circle-o"></span>
                    I don’t like milk how will I survive?
                </a>
            </h4>
        </div>
        <div id="collapseexample3" class="panel-collapse collapse">
            <div class="panel-body"> Firstly they are protein shakes not milkshakes and they are only 300 mil so its not
                a lot to take. Secondly I hate milk and I found them fine. You can add soya, almond or coconut milk
                instead of the milk or you can add water, ice and some berries and make it into a smoothie. Two servings
                a day of Forever Lite Ultra, prepared with skim milk as directed, supply a full 100% of the Reference
                Daily Intake (RDI) for the vitamins and minerals. Forever Lite Ultra supplies the 18 important amino
                acids, including essential, non-essential and the branch-chain amino acids. If you do make your shake on
                water you have an extra 100 calories to use on a healthy snack. The booklet in the Clean 9 gives you
                some suggestions on some healthy 100 calories snacks.
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseexample4">
                    <span class="fa fa-question-circle-o"></span>
                    I am Diabetic can I do the detox ?
                </a>
            </h4>
        </div>
        <div id="collapseexample4" class="panel-collapse collapse">
            <div class="panel-body"> Yes you can, but you just start on day 3 of the Clean 9, You Do Not do the first 2
                days of the detox. Aloe Vera Gel helps lower blood sugar. Studies have found that people taking Aloe
                Vera gel over a 3 month period experienced a drop in fasting blood sugar levels and improved cholesterol
                levels.
                <p>
                    The only people who can not do the Clean 9 are people who are on Warfarin or Mothers who are
                    Breastfeeding.
                </p>
            </div>
        </div>
    </div>
    <p>
        Coumadin is the brand name for the prescription generic drug warfarin.
    </p>
    <p>
        When you drink aloe juice, it works like a stimulant laxative by increasing the contractions of your bowel
        muscles and speeding up your bowel movements. This stimulating effect can cause diarrhea. NIH states that
        diarrhea can increase the effects of Coumadin, which can increase your risk of bleeding. You should avoid aloe
        juice if you are taking Coumadin.
    </p>


{% endblock %}

