{% extends 'aloe-4us-carousel.html' %}

{% block title %}
    Clean 9 Products
{% endblock %}

{% block car_bg %}bg-purple{% endblock %}
{% block bg_clor %}bg-purple{% endblock %}
{% block image_slide %}

    <div class="col-lg-6 left-carousel">
        <div id="myCarousel" class="carousel slide">    <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img src="/static/images/c9-1.PNG" alt="First slide"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

{% endblock %}

{% block bsid_heading %}
    Ready to Lose up to 10lbs? If so TRY THIS!
{% endblock %}
{% block details %}

{% endblock %}
{% block bsid_listing %}
    <li><span class="fa fa-bicycle"></span> Eliminate Harmful Toxins</li>
    <li><span class="fa fa-bicycle"></span> Restore Your Body System</li>
    <li><span class="fa fa-bicycle"></span> Helps Weight Management</li>
    <li><span class="fa fa-bicycle"></span> Improves Skin Complexion</li>
    <li><span class="fa fa-bicycle"></span> Energizes & Boosts Immune System</li>
    <li><span class="fa fa-bicycle"></span> Improves Digestion</li>
    <li><span class="fa fa-bicycle"></span> The Most Googled Diet</li>
{% endblock %}

{% block image_blocks %}

    <div class="great-way">
        <h1 class="text-purple">Finally!! Weight Loss Made Easy with Forever!</h1>

        <p>Control Your Weight! Live a Healthy Lifestyle!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/c9-6.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/c9-2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/c9-3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/c9-4.PNG" alt=""
                         class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/c9-5.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/c9-7.PNG" alt=""
                         class="img-responsive">
                </div>
            </div>
            <hr class="divider line-purple">
        </div>
    </div>
{% endblock %}
{% block shop_join %}
    {#    <div class="become-member container">#}
    {#        <h1 class="text-purple">Beautiful Healthy Skin is Now Only a Click Away from You!</h1>#}
    {##}
    {#        <p>Shop Now or Join to receive 15% Discount Instantly!!!</p>#}
    {##}
    {#        <div class="buy-or-join">#}
    {#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
    {#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
    {##}
    {#            <div class="cards">#}
    {#                <span class="fa fa-cc-visa"></span>#}
    {#                <span class="fa fa-cc-mastercard"></span>#}
    {#                <span class="fa fa-cc-paypal"></span>#}
    {#            </div>#}
    {#        </div>#}
    {#        <hr class="divider line-purple">#}
    {#    </div>#}
{% endblock %}
{% block content_writing %}

    <h1 class="text-center text-purple">A 9-day Nutritional Body Detox Program</h1>

    <p class="text-center">includes Aloe Vera Gel, Forver Garcinia Plus, Forever Therm, Forever Ultra Lite and
        Forever Fiber</p>

    <hr class="divider trunc-line line-purple">
    <br>

    <div class="row">
        <div class="col-lg-4 card-like">
            <img src="/static/images/weight1.PNG" alt="Weight 1" class="img-responsive">

            <h2>Instruction Booklet</h2>

            <p>
                Follow the step by step instruction from this little booklet to remove toxin from the body,
                melts away excess fat, and help create lean muscles. Forever Clean 9 takes care of your body
                needs while it helps you achieve your goals - it improves body metabolism while eliminates
                toxins from the body, and at the same time maintaining nutritional balance without starving your
                body cells.
            </p>
        </div>
        <div class="col-lg-4 card-like">
            <img src="/static/images/weight2.PNG" alt="Weight 2" class="img-responsive">

            <h2>Aloe Vera Gel (2 Bottles)</h2>

            <p>
                Containing over 200 nutritional compounds. Rich in soluble and insoluble fiber, helps to cleanse
                the intenstine and improve bowel movement. A clean digestive system helps to free up the liver
                to metabolize fat efficiently, thus storing less fat, making it helpful in weight management.
                Rich in Acemannans, Vitamin A,C,E that are helpful in maintaining a healthy immune system.
            </p>
        </div>
        <div class="col-lg-4 card-like">
            <img src="/static/images/weight3.PNG" alt="Weight 3" class="img-responsive">

            <h2>Forever Garcinia - 54 Softgels</h2>

            <p>
                The primary ingredient is a natural substance derived from the fruit of a Southern Asia tree,
                the Garcinia Cambogia.It contains Hydroxycitric Acid that can help to reduce conversion of
                carbohydrate to fat. Effective in promoting satiety (feeling of fullness). Added with Safflower
                Oil that helps to keep blood vessels flexible and healthy.
            </p>
        </div>
        <div class="clearfix visible-lg"></div>
        <div class="col-lg-4 card-like">
            <img src="/static/images/weight4.PNG" alt="Weight 4" class="img-responsive">

            <h2>Forever Fiber - 9 Packet</h2>

            <p>

            </p>
        </div>
        <div class="col-lg-4 card-like">
            <img src="/static/images/weight5.PNG" alt="Weight 5" class="img-responsive">

            <h2>Forever Lite Ultra</h2>

            <p>
                Each shake contains 18 amino acids (including all 8 essential ones), 12 Vitamins and 6 Minerals
                which includes Calcium, Iron, Zinc, Phosphorus, Magnesium, B vitamins and others. Soy Protein
                helps promote satiety (feeling of fulness) and increase muscle mass. 90 calories each shake
                (powder only). Contains protein enzymes (Aminotein) which helps in proper breakdown and
                absorption of protein.
            </p>
        </div>
        <div class="col-lg-4 card-like">
            <img src="/static/images/weight6.PNG" alt="Weight 6" class="img-responsive">

            <h2>Forever Therm - 18 Tablets</h2>

            <p>
                The products in Clean 9 work synergistically to help the body detox. Your body will thank you
                for it! Say Bye Bye to Toxins! Remember, always consult your doctor before starting this or any
                other diet or exercise program. Not all exercise are suitable for everyone. The results
                mentioned are not typical and are specific only to the featured participants.
            </p>
        </div>
    </div>

    <hr class="divider line-purple">
    <br>
    <p>
        Each year the average American consumes 150 pounds of sugar and 566 cans of soft drinks. To compound matters,
        many
        prepackaged foods are loaded with dangerous additives and chemicals that are laced with toxins. Not to mention
        all
        the pollutants from the air that we take in daily. Where do you think all those toxins get stored? If you
        guessed
        inside your body, you’re on your way to discovering how YOU can dramatically improve your health and wellness.
        Taking a nine-day cleanse (Forever Clean 9) is your commitment toward gaining control of that healthy lifestyle
        you’ve always found to be so elusive. Much as we cleanse our bodies on the outside, nutritionists and health
        experts
        contend we also need to cleanse our bodies on the inside to remove any toxins and residues that may be harming
        our
        health. Forever Clean 9.</p>

    <img src="/static/images/c9-8.PNG" alt="" style="display: block; margin: 0 auto;">

    <h1 class="text-purple">Forever Clean 9</h1>

    <p>
        Forever Clean 9 is a nine-day program that is designed to cleanse your body of harmful preservatives and
        chemicals, while starting the process of burning off excess fat. It’s very hard for your body to optimize the
        absorption of essential nutrients from your foods and dietary supplements, if your digestive and intestinal
        tract is full of energy-draining toxins that have been built up from years and years of chemical additives and
        pollutants found in food and in the air we breathe.
    </p>

    <p>
        So what are you waiting for? Order your Forever Clean 9 right here!
    </p>

    <p>
        The Forever Clean 9 Nutritional Cleansing Program is going to leave you feeling so vibrant and vital that you
        will want to maintain these results for the rest of your life!
    </p>

    <h1>Included in the Forever Clean 9 Package:</h1>
    <ul>
        <li><span class="fa fa-pie-chart"></span> Forever Aloe Vera Gel 2 bottles</li>
        <li><span class="fa fa-pie-chart"></span> 1 Forever Lite Ultra Vanilla or Chocolate Shake Powder</li>
        <li><span class="fa fa-pie-chart"></span> Forever Garcinia Plus – 54 Softgels</li>
        <li><span class="fa fa-pie-chart"></span> Forever Fiber – 9 Packets</li>
        <li><span class="fa fa-pie-chart"></span> Forever Therm – 18 Tablets</li>
        <li><span class="fa fa-pie-chart"></span> 1 Tape Measure</li>
    </ul>

    <hr class="divider line-purple">

    <div class="become-member container">
        <h1 class="text-purple">What Are You Waiting For? Order Forever Clean 9 Today & Get Ready for The Bikini!</h1>

        <p>Say YES to FOREVER CLEAN 9 !!! Join Now & Save 15% Instantly</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
    </div>

    <hr class="divider line-purple">
    <br>

    <h2>Description of the products:</h2>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Aloe Vera Gel
        </div>
        <div class="panel-body"> The human body requires 22 amino acids for good health; eight of them are “essential”
            because the body cannot fabricate them. Aloe Vera Gel contains all 8 essential amino acids and has the
            distinct ability to gently break down, loosen and assist in the natural dispersal of residues that are built
            up in the digestive tract. In addition to Aloe Vera Gel’s distinct detoxifying abilities, bowel regularity
            and increased protein absorption may occur along with a simultaneous decrease of unfriendly bacteria.
            Forever Clean 9

            <br>
            <ul>
                <li><span class="fa fa-space-shuttle"></span> Excellent Detoxifier</li>
                <li><span class="fa fa-space-shuttle"></span> Intestinal & Immune Health</li>
                <li><span class="fa fa-space-shuttle"></span> Weight Management</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Lite Ultra
            Vanilla and Ultra Lite Chocolate Shake Powder
        </div>
        <div class="panel-body"> Ultra Lite nutritional drinks in Vanilla and Chocolate are key components in a
            successful cleansing and weight loss program. Much of the leading health and dietary research has supported
            that a high-protein and low-carb diet can build and create a lean and healthy body. Ultra Lite Shake Powder
            has 55% more protein and less than half the carbohydrates of regular Lite Powder. And Ultra Lite
            incorporates the latest weight loss research into its formula without compromising its delicious taste.
            Ultra Lite Vanilla and Ultra Lite Chocolate Shake Powders are products from start to finish that you can
            count on to supply you with the nutrition your body needs – minus the chemicals and additives it doesn’t!
            Forever Clean 9

            <br>
            <ul>
                <li><span class="fa fa-space-shuttle"></span> Meal Replacement</li>
                <li><span class="fa fa-space-shuttle"></span> Complete Nutrition</li>
                <li><span class="fa fa-space-shuttle"></span> Lean and Toned Body</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Fiber
        </div>
        <div class="panel-body">
            <ul>
                <li><span class="fa fa-space-shuttle"></span> Boost Energy</li>
                <li><span class="fa fa-space-shuttle"></span> Better Metabolism Rate</li>
                <li><span class="fa fa-space-shuttle"></span> Complete Nutrition</li>
            </ul>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Garcinia Plus
        </div>
        <div class="panel-body">

            Garcinia Cambogia is a fruit that has been used for culinary and herbal purposes for centuries. Our Garcinia
            Plus meets the standards for your Forever Clean 9 Program because it contains a number of ingredients that
            may aid in weight loss, the primary ingredient being Hydroxycitric Acid (HCA). The rind of this fruit is
            what is used to produce HCA. HCA has been demonstrated in the laboratory to reduce the conversion of
            carbohydrates into stored fat by inhibiting certain enzyme processes. As a result, the body may burn
            existing fat stores, thus potentially aiding in an already low-fat weight management program. Garcinia Plus
            also has been shown to be a natural appetite suppressant, which makes it a useful tool in weight management.
            <br>
            <ul>
                <li><span class="fa fa-space-shuttle"></span> Natural Appetite Suppressant</li>
                <li><span class="fa fa-space-shuttle"></span> Fat Reduction</li>
                <li><span class="fa fa-space-shuttle"></span> Weight Management</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Forever Therm
        </div>
        <div class="panel-body">
            Nearly everyone would like to lose some body fat and feel more energetic. When the body needs energy, there
            are key steps it has to go through in order to burn fat.
            <br>
            <ul>
                <li><span class="fa fa-space-shuttle"></span> Release fat from storage</li>
                <li><span class="fa fa-space-shuttle"></span> Transport of fat into the muscle to be burned for energy
                </li>
                <li><span class="fa fa-space-shuttle"></span> Burn – creation of cellular energy from fat</li>
            </ul>
            <p>
                Forever Clean 9 nutritional cleansing program is not sold in stores. You can buy it online, please enter
                retail store to purchase yours today. Would you like to receive 15% discount on your orders ? For more
                information please visit: Forever Living Discounts.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading bg-purple panel-head"><span class="fa fa-check-circle"></span> Other recommended
            products during Forever Clean 9 program:
        </div>
        <div class="panel-body">
            <ul>
                <li><span class="fa fa-space-shuttle"></span> Aloe Blossom herbal tea</li>
                <li><span class="fa fa-space-shuttle"></span> Forever Artic Sea</li>
                <li><span class="fa fa-space-shuttle"></span> Forever Active Probiotic</li>
            </ul>
        </div>
    </div>


    <div class="become-member">
        <h1 class="text-purple">
            Become a Member & Enjoy The Benefits! Up to 35% Discounts!
        </h1>

        <p>
            Compare the Savings When Buying Forever Clean 9 Package!
        </p>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div">
                            <h3>Non Member</h3>

                            <p>Price for clean 9</p>
                        </div>
                        <br>

                        <h1>$96.40</h1>
                        <ul>
                            <li>Registration: None</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: None</li>
                            <li>Total Savings: None</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#shopModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-1">
                            <h3>New Member</h3>

                            <p>Price for Clean 9</p>
                        </div>
                        <br>

                        <h1>$81.94</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: 15%</li>
                            <li>Total Savings: $14.46</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#joinModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-2">
                            <h3>Wholesaler</h3>

                            <p>Price for Clean 9</p>
                        </div>
                        <br>

                        <h1>$62.60</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: $100</li>
                            <li>Discount: 35%</li>
                            <li>Total Savings: $33.80</li>
                        </ul>
                    <span class="act-now">
                        <a href="/discounts">Act Now!</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
