{% extends 'base.html' %}

{% block title %}
    Discounts on Forever Living Products
{% endblock %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Get up to 50% discounts and other benefits when purchasing Forever Living Aloe Vera Products through Truealoehealth.">
    <meta name="keywords" content="aloe, aloe vera, discounts, forever living products discount, true aloe health discounts">
    <meta property="og:title" content="Get Discounts on Forever Living Aloe Vera Products">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Get up to 50% discounts and other benefits when purchasing Forever Living Aloe Vera Products through Truealoehealth.">
    <meta property="og:image" content="http://truealoehealth.com/media/image-uploads/aloe.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <br>

    <div class="easiest-save container">
        <h1>Easiest Way to Save Money</h1>

        <h3>Online Application Process in 3 Simple Steps</h3>
        <hr class="trunc-line divider">
        <br>

        <div class="row">
            <div class="col-lg-4">
                <table class="custom-table">
                    <tr>
                        <td class="step-no">
                            <div>1</div>
                        </td>
                        <td>
                            <h2>Sign Up</h2>

                            <p>Fill out the application form online, review and submit.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="custom-table">
                    <tr>
                        <td class="step-no">
                            <div>2</div>
                        </td>
                        <td>
                            <h2>Login</h2>

                            <p>Check your email for password, login to your personal account and chose your products.</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="custom-table">
                    <tr>
                        <td class="step-no">
                            <div>3</div>
                        </td>
                        <td>
                            <h2>Order Today</h2>

                            <p>Add your favorite products to your cart and check out.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr class="divider">
    </div>

    <div class="container purchase-parent">
        <h1>Forever Living Discounts</h1>
        <hr class="product-line-2 ">
        <b>There are 2 options to do something about your future:</b>
        <ul class="purchase-options">
            <li><span class="fa fa-asterisk"></span> Buy products online as a retail customer, no minimum purchase required
                ( Forever Living Discounts)
            </li>
            <li><span class="fa fa-asterisk"></span> Buy products as a MEMBER and receive up to 30% Forever Living
                discounts.
            </li>
        </ul>
        <p>
            You won’t need to apply this Forever Living discounts every time you want to shop and you won’t need to search
            for a promotional coupon or code. However you should register today to lock in your Forever Living discounts.
            Forever Living discounts will kick in right away, who have registered today to this discount offer will be able
            to apply this discount towards future purchases. If you decide later not to use the products or this Forever
            Living discounts, that’s your choice, you have nothing to lose.
        </p>

        <p>
            There are <em>2 main membership levels (New Distributors and Distributors)</em>. Each membership gives you
            access to buy
            products with discounts. As a new distributor you will receive 15% discount right after registration. Signing in
            to your personal Forever Living account with your personal distributor id number will give you the privilege to
            save money and <b> NO MINIMUM PURCHASE IS NECESSARY </b> and NO purchase required at registration.
        </p>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group plans-list">
                        <h3 class="list-group-item active">Basic / Starter Membership/ 15% Forever Living Discounts</h3>
                        <li class="list-group-item">new distributor membership</li>
                        <li class="list-group-item">free online registration, no membership fee, no obligation, no
                            commitment
                        </li>
                        <li class="list-group-item">instant 15% savings and on future purchases</li>
                        <li class="list-group-item">experience the benefits of Aloe Vera drinks and other
                            Forever Living Pr-oducts
                        </li>
                        <li class="list-group-item">buy directly from the producer and manufacturer, no third party needed
                        </li>
                        <li class="list-group-item">fast and reliable shipping</li>
                        <li class="list-group-item">lock in your discount forever, no expiration date</li>
                        <li class="list-group-item">receive your 15% discount
                            worldwide ( you need to inform home office in advance which country you want to use your card)
                        </li>
                        <li class="list-group-item">you can make a 15% retail profit by selling the products for your
                            customers or sponsor / register new people for
                            free to get access to the discounted products. Check out the New Distributor Price List
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-group plans-list">
                        <h3 class="list-group-item active">Advanced membership / wholesale buyer/ 35% Forever Living
                            Discounts</h3>
                        <li class="list-group-item">you start with the basic membership and upgrade to the advanced
                            membership to receive an additional 20% Forever Living Discounts
                        </li>
                        <li class="list-group-item">for satisfied, returning customers who want to increase their savings up
                            to 35%
                        </li>
                        <li class="list-group-item">for those who want to make profit and start their home based business by
                            simply recommending and promoting the products
                        </li>
                        <li class="list-group-item">spend over 340$ on products (shipping and tax excluded) in 2 consecutive
                            months (applies to multiple purchases as well) and receive an additional 20% forever living
                            discounts, buy it wholesale (35% off)
                        </li>
                        <li class="list-group-item">Lock in your 35% forever living discounts on orders of 100$ or more
                            forever, no monthly activity required
                        </li>
                        <li class="list-group-item">make 35% retail profit by selling the products for your customers</li>
                        <li class="list-group-item">sponsor / register people and receive 20%</li>
                        <li class="list-group-item">33% new distributor profit depends on your distributor level
                        </li>
                        <li class="list-group-item">you can start your internet /online business by marketing the products
                            through your personalized official website.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>How do you actually receive Forever Living Discounts?</h1>

        <p>Register above to become a basic member and get your forever living discounts card (distributor card) which means
            you purchase your products at a new distributor price. You save 15% instantly. Just fill out the application
            form and wait about 5-10 minutes until you receive your personal id number and temporary password. (this waiting
            period could take up to 24-48 hours) There is no obligation, no need to sell or distribute the products, you just
            buy them for your personal and family use in order to save some money. Application is free, there is nothing to
            lose. Who doesn’t want to save money?
        </p>

        <h3>Receive Forever Living Discounts worldwide</h3>

        <p>Don’t forget: the forever living products discount card is valid worldwide for the rest of your life. Don’t need
            to renew it or re-register. With forever living products discount card you can enjoy shopping and save money
            forever. You can print out your discount (distributor card) when visiting www.foreverliving.com under ‘MY
            ACCOUNT’ tab.
        </p>
    </div>

    <br>


    <div class="become-member">
        <h1>
            Become a Member & Enjoy The Benefits! Up to 48% Discounts!
        </h1>

        <p>
            Compare the Savings When Buying 10 Bottles of Aloe Vera Gel!
        </p>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div">
                            <h3>Non Member</h3>

                            <p>Price for ARGI+</p>
                        </div>
                        <br>

                        <h1>$60.60</h1>
                        <ul>
                            <li>Registration: None</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: None</li>
                            <li>Total Savings: None</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#shopModal">Proceed</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-1">
                            <h3>New Member</h3>

                            <p>Price for ARGI+</p>
                        </div>
                        <br>

                        <h1>$51.51</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: 15%</li>
                            <li>Total Savings: $9.09%</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#joinModal">Proceed</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-2">
                            <h3>Wholesaler</h3>

                            <p>Price for ARGI+</p>
                        </div>
                        <br>

                        <h1>$39.39</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: $100</li>
                            <li>Discount: 35%</li>
                            <li>Total Savings: $21.21</li>
                        </ul>
                    <span class="act-now">
                        <a href="/discounts">Proceed</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider trunc-line">
    </div>
    <br>

    <div class="become-member container jumbotron">
        <h1>Come On! It's Time to Save Some Money!</h1>

        <p>Join Now & Save 15% Instantly! No Minimum Purchase Necessary!

        </p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>

    </div>

    <div class="how-to container">
        <h3>How to shop with Forever Living Discounts Card?</h3>

        <p>5-10 minutes after registration check your email and write down your id number and password! To buy the products
            15% cheaper with your Forever Living Discount Card, you need to login to your account as a distributor at
            www.foreverliving.com ,find on the right upper corner: distributor login click on it. Next step is to type in
            your personal id number or registered email address with your temporary password. At first time login you need
            to add a security question with answer and save it. Your temporary password will expire so you must change it.
            For purchasing products you need to click ‘SHOP NOW’ and you will see the already discounted price! Pay actual
            shipping cost or no more than $8.50 for ground delivery on orders of 600$ or less. Over 600$ shipping will be
            calculated according to the actual weight of the products.</p>
    </div>

    <br>

{% endblock %}