{% extends 'aloe-4us-carousel.html' %}
{% block title %}
    F.I.T.
{% endblock %}
{% block car_bg %}bg-purple{% endblock %}
{% block bg_clor %}bg-purple{% endblock %}
{% block image_slide %}

    <div class="col-lg-6 left-carousel">
        <div id="myCarousel" class="carousel slide">    <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img src="/static/images/fit-car-1.PNG" alt="First slide"></div>
                <div class="item"><img src="/static/images/fit-car-3.PNG" alt="First slide"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>

{% endblock %}

{% block bsid_heading %}
    Transform Your Body and Lifestyle
{% endblock %}
{% block details %}
    A simple 69-day regimen incorporating shakes, supplements and targeted exercise.
{% endblock %}
{% block bsid_listing %}
    <li><span class="fa fa-bicycle"></span> Premium Quality Products</li>
    <li><span class="fa fa-bicycle"></span> Easy-to-Follow information and Guidance</li>
    <li><span class="fa fa-bicycle"></span> Everything needed to reach weight management goals</li>
    <li><span class="fa fa-bicycle"></span> All You Need is The Will to Succeed</li>
{% endblock %}

{% block image_blocks %}

    <div class="great-way">
        <h1 class="text-purple">Successful Weight Loss In 69 Days</h1>

        <p>Lose Weight & Feel Great with Forever F.I.T.</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/fit1.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/fit2.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/fit3.PNG" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/fit4.PNG" alt=""
                         class="img-responsive">
                </div>
            </div>
            <hr class="divider line-purple">
        </div>
    </div>
{% endblock %}
{% block shop_join %}
    {#    <div class="become-member container">#}
    {#        <h1 class="text-purple">Beautiful Healthy Skin is Now Only a Click Away from You!</h1>#}
    {##}
    {#        <p>Shop Now or Join to receive 15% Discount Instantly!!!</p>#}
    {##}
    {#        <div class="buy-or-join">#}
    {#            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>#}
    {#            <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#joinModal">Join Now</a>#}
    {##}
    {#            <div class="cards">#}
    {#                <span class="fa fa-cc-visa"></span>#}
    {#                <span class="fa fa-cc-mastercard"></span>#}
    {#                <span class="fa fa-cc-paypal"></span>#}
    {#            </div>#}
    {#        </div>#}
    {#        <hr class="divider line-purple">#}
    {#    </div>#}
{% endblock %}
{% block content_writing %}
    <h1 class="text-center text-purple panel-head"><span class="fa fa-check-circle"></span>
        Effective Weight Loss With Advanced Packages!
    </h1>
    <p class="text-center" style="font-size: 20px;">Forever Clean 9, Forever F.I.T 1 & Forever F.I.T. 2</p>
    <hr class="trunc-line line-purple">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <img src="/static/images/f1.PNG" alt="" class="img-responsive cln-9-img">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h3 class="bold">
                        Cleanse with Clean 9
                    </h3>

                    <p>
                        The New and Improved Clean 9 is now better and cheaper than ever before. It features a
                        convenient dietary supplement pack with the exact amount of weight management supplements needed
                        for the nine days, plus a newly branded F.I.T. shaker. Designed to kick start weight loss and
                        cleanse your body, this first step provides the perfect foundation for transforming your eating
                        and fitness habits.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <img src="/static/images/f2.PNG" alt="" class="img-responsive cln-9-img">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h3 class="bold">
                        Good Habits for Life - F.I.T. 1
                    </h3>

                    <p>
                        Take it to the next level and change the way you think about food and fitness for good. This
                        30-day regime allows you to continue towards your weight management goals, in a sustainable,
                        healthy way. contains the exact portions of supplements, shakes and bars required, with
                        easy-to-follow step-by-step guidance to help you through. Maintain and build on the progress you
                        made with the Clean9 and change your habits for the long-term.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <img src="/static/images/f3.PNG" alt="" class="img-responsive cln-9-img">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <h3 class="bold">
                        Maximum Impact - F.I.T. 2
                    </h3>

                    <p>
                        Now you're well on your way to achieving your weight loss goals. It's time to push your body to
                        the max and achieve that optimum transformation. Strengthen and tone the body with F I T 2 help
                        you build lean muscle, incorporating high-protein nutritional products. Complete this final
                        30-day step of the program to see real definition.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <div class="row">
        <div class="col-lg-8">
            <h1>Build the Foundation for Looking and Feeling Better</h1>

            <p>
                Can you look better and feel better in just 9 days?
            </p>

            <p class="bold text-success">
                YES!
            </p>

            <p>
                The Clean 9 Program can help you to jumpstart your journey to a slimmer, healthier you. This effective,
                easy-to-follow cleansing program will give you the tools you need to start transforming your body today!
            </p>

            <h3 class="bold">
                Forever Clean 9
            </h3>
            <ul>
                <li><span class="fa fa-check"></span> Forever Aloe Vera gel (2x 1liter bottles)</li>
                <li><span class="fa fa-check"></span> Forever Light Ultra with Aminotein Shake Mix (15 servings)</li>
                <li><span class="fa fa-check"></span> Forever Garcinia Plus (54 softgels)</li>
                <li><span class="fa fa-check"></span> Forever Therm (18 tablets)</li>
                <li><span class="fa fa-check"></span> Forever Fiber (9 packets)</li>
                <li><span class="fa fa-check"></span> Tape Measure</li>
                <li><span class="fa fa-check"></span> Clean 9 Booklet</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <br>
            <img src="/static/images/c9.PNG" alt="" class="img-responsive">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <h1>Get Inspired and Take the Next Steps To Look Better and Feel Better</h1>

            <p>
                Forever F.I.T. 1 will teach you in 30 days how to change the way you think about food and exercise, and
                provide you with the knowledge you need to get inspired and change your body for the better!
            </p>

            <h3 class="bold">
                Forever F.I.T. 1
            </h3>
            <ul>
                <li><span class="fa fa-check"></span> Forever Aloe Vera Gel (4x 1 liter bottles)</li>
                <li><span class="fa fa-check"></span> Forever Light Ultra with Aminotein Shake Mix (2 pouches, 30
                    servings)
                </li>
                <li><span class="fa fa-check"></span> Forever Therm (60 tablets)</li>
                <li><span class="fa fa-check"></span> Forever Garcinia Plus (70 softgels)</li>
                <li><span class="fa fa-check"></span> Forever Fiber (30 packets)</li>
                <li><span class="fa fa-check"></span> Pro X High Protein Bars (10 bars)</li>
                <li><span class="fa fa-check"></span> Forever F.I.T. 1 Booklet</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <br>
            <img src="/static/images/f1-lg.PNG" alt="" class="img-responsive">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8">
            <h1>Build Lean Muscle, Tone and Transform</h1>

            <p>
                Forever F.I.T. 2 will take you to the next level by helping you to tone your body, burn more calories
                and transform. Lean muscle is essential to weight loss for both men and women. Forever F.I.T. 2 will
                help you learn how to build it and sustain it!
            </p>

            <h3 class="bold">
                Forever F.I.T. 2
            </h3>
            <ul>
                <li><span class="fa fa-check"></span> Forever Aloe Vera Gel (4x 1liter bottles)</li>
                <li><span class="fa fa-check"></span> Forever Light Ultra with Aminotein Shake Mix (2 pouches 30 servings)
                </li>
                <li><span class="fa fa-check"></span> Forever Therm (60 tablets)</li>
                <li><span class="fa fa-check"></span> Forever Garcinia Plus (70 softgels)</li>
                <li><span class="fa fa-check"></span> Forever Fiber (30 packets)</li>
                <li><span class="fa fa-check"></span> Pro X High Protein Bars (10 bars)</li>
                <li><span class="fa fa-check"></span> F.I.T. 2 Booklet</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <br>
            <img src="/static/images/f2-lg.PNG" alt="" class="img-responsive">
        </div>
    </div>

    <hr class="divider line-purple">

    <div class="become-member container">
        <h1 class="text-purple">It's Time to Make a Change with Forever F.I.T.</h1>

        <p>Buy Forever F.I.T or Join & Save 15% NOW!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
    </div>

    <hr class="divider line-purple">

    <img src="/static/images/fit-lg.PNG" alt="" class="img-responsive" style="display: block; margin: 0 auto;">

    <br>


{% endblock %}
