{% extends 'base.html' %}
{% block title %}
    Natural Health & Beauty Productss
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="container">
        <div class="row why-forever">
            <div class="col-xs-12 why-container">
                <h2>Why Forever Living?</h2>
                <hr class="divider">
                <ul>
                    <li><span class="fa fa-thumbs-o-up"></span> Highest Quality Aloe Vera Products</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Most Effective at Affordable Prices</li>
                    <li><span class="fa fa-thumbs-o-up"></span> 15-48% Discounts for Registered Members</li>
                    <li><span class="fa fa-thumbs-o-up"></span> FREE Registration, NO Membership Fee</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Over 35 Years of Experience</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Global Business Opportunity</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Low Investment with Unlimited Income</li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <div class="great-way">
        <h1>A Great Way to Start a Whole New Life With Forever Living!</h1>

        <p>Dedicated to Bringing You The Best Available Products on the Market!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/1-aloe-vera-gel-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/2-Aloe-Vera-Gelly-gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/3-Forever-Argi-Plus-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/4-Forever-Aloe-Vera-for-immune-system-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/6-Forever-Freedom-building-blocks-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/7-Forever-Lean-2-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/8-Forever-Lean-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/9-Aloe-berry-nectar-Gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/10-Aloe-Propolis-Creme-Gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/11-Forever-Artic-Sea-Gallery-140x95.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="static/images/12-Forever-Active-Probiotic-140x95.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <hr class="divider">
        </div>
    </div>

    <div>
        <div class="history container">
            <p>
                <a class="forever-tagged">Forever Living Products</a> was established in 1978 and by now it became a
                multibillion dollar company, based in
                Scottsdale, Arizona, that manufactures and sells dozens of wellness and beauty products.
            </p>

            <p>
                People just like you distribute these life-enhancing products, providing you the opportunity to own your own
                business and secure your financial future with a proven plan. With over nine and a half million distributors
                in
                over 160 countries, Forever Living Products offers the once in a lifetime opportunity of living a healthier,
                wealthier life.
            </p>

            <p>
                Truealoehealth is designed and operated by Olaoye Oyeleke, an Independent distributor of Forever Living Products
                of
                Nigeria. The owner of this website is not an employee of Forever Living or any of its
                worldwide
                affiliates.
            </p>

            If you are looking for the Aloe Store website of Forever Living Products, please visit here: <a
                href="#" data-toggle="modal" data-target="#shopModal">Forever Living
            Products Aloe Store</a>

            On this website you can find useful information about health and wellness products which includes:
            <br>
            <br>
            <ul>
                <li><span class="fa fa-asterisk"></span> Aloe vera skin care</li>
                <li><span class="fa fa-asterisk"></span> Aloe vera based cosmetics</li>
                <li><span class="fa fa-asterisk"></span> Aloe vera drinks</li>
                <li><span class="fa fa-asterisk"></span> Nutritions</li>
                <li><span class="fa fa-asterisk"></span> Aloe vera personal care</li>
                <li><span class="fa fa-asterisk"></span> Aloe vera animal care</li>
                <li><span class="fa fa-asterisk"></span> Aloe vera blog</li>
                <li><span class="fa fa-asterisk"></span> Aloe Vera Weight Management</li>
                <li>and much more….</li>
            </ul>

            <p class="extra-note">
                The products discussed on this website are not intended to diagnose, mitigate, treat, cure or prevent a
                specific disease or class of diseases. You should consult your family physician if you are experiencing a
                medical problem. However many reported extraordinary results after a few weeks of using our 100% natural and
                pure products.
                <br>
                If you are looking for the best aloe vera skin care products on the market for a reasonable price than you
                are at the right place.

            </p>
        </div>
    </div>

    <div class="container buy-forever-prod">
        <br>
        <h1>Buy Forever Living Products</h1>

        <p class="buy-p">
            Forever Living Products are not sold in stores, you can buy it online or from independent distributors of
            Forever Living Products.
        </p>

        <br>
        <h3>You have 3 options to buy Forever Living Products:</h3>
        <ul>
            <li><span class="fa fa-money"></span> As a retail customer, just visit my Aloe Store here and buy products at
                retail price or
            </li>
            <li><span class="fa fa-money"></span> Receive upto 48% discount after becoming a member / distributor of Forever
                Living products. Free online
                registration here: Forever Living Products Discounts
            </li>
            <li><span class="fa fa-money"></span> Register as a Forever Living distributor, use the products, share the
                products and teach others how to use
                the products while you making an extra income.
            </li>
        </ul>


        <br>
        <br>


        <h1>Become a member of Forever Living Products</h1>

        <p>
            Become a distributor of Forever Living Products and enjoy all the benefits of Aloe Vera. You can achieve your
            dreams with little efforts and minimal investment. With millions of people just like you who have
            the same goals in life — better health and financial freedom — Forever Living Products is successful because it
            values what you value. It gives you the tools to take control and live the life you’ve always wanted.
        </p>
        <hr class="divider">

    </div>

    <div class="become-member">
        <h1>
            Become a Member & Enjoy The Benefits! Up to 48% Discounts!
        </h1>

        <p>
            Compare the Savings When Buying 10 Bottles of Aloe Vera Gel!
        </p>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div">
                            <h3>Non Member</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$186.60</h1>
                        <ul>
                            <li>Registration: None</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: None</li>
                            <li>Total Savings: None</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#shopModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-1">
                            <h3>New Member</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$158.60</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: 15%</li>
                            <li>Total Savings: $28</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#joinModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-2">
                            <h3>Wholesaler</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$121.20</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: $100</li>
                            <li>Discount: 35%</li>
                            <li>Total Savings: $65.40</li>
                        </ul>
                    <span class="act-now">
                        <a href="/discounts">Act Now!</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="become-member container">
        <h1>SHOP or JOIN NOW & SAVE 15%-48%!</h1>

        <p>Interested? What Are You Waiting For? There is Nothing to Lose!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
    </div>

    <div class="container become-member">
        <h1>Why you should choose Forever Living</h1>
        <hr class="divider">

        <div class="row">
            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home1.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Superior Products
                    </div>
                    <div class="reason-body">
                        We created the ALOE PRODUCTS INDUSTRY, and our products continue to lead in terms of ingredient and
                        formulation quality.
                    </div>
                </div>
            </div>

            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home2.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        No Pass-Ups
                    </div>
                    <div class="reason-body">
                        Our marketing plan rewards you for your effort. When someone you sponsors excels in sales, you will
                        be rewarded as well and not passed up.
                    </div>
                </div>
            </div>

            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home3.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Consumable Products
                    </div>
                    <div class="reason-body">
                        Our top-quality products allow you to easily build a base of loyal customers who regularly purchase
                        replacement products.
                    </div>
                </div>
            </div>

            <div class="clearfix visible-lg">

            </div>

            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home4.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Bonuses Paid On Retail Price
                    </div>
                    <div class="reason-body">
                        Even though you only pay wholesale prices for your products, Forever Living will still pay you based
                        on the retail price.
                    </div>
                </div>
            </div>

            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home5.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Multiple Income Opportunities
                    </div>
                    <div class="reason-body">
                        We offer a variety of income opportunities, these include Chairman's bonus and several incentive
                        bonuses.
                    </div>
                </div>
            </div>

            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home6.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        No Demotions
                    </div>
                    <div class="reason-body">
                        Once you are promoted to a certain rank, you will remain at that level for life.
                    </div>
                </div>
            </div>

            <div class="clearfix visible-lg"></div>

            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home7.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Significant Tax Benefits
                    </div>
                    <div class="reason-body">
                        We offer a variety of income opportunities, these include Chairman's bonus and several incentive
                        bonuses.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home8.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Proven Financial Stability
                    </div>
                    <div class="reason-body">
                        Our company's sales over 35+ years demonstrate our steady growth, sales history and projected future
                        sales for long-term success.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home9.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Global Business Opportunity
                    </div>
                    <div class="reason-body">
                        International presence in over 156 countries. Our decades-long track record is established
                        throughout the globe and demonstrated growth, reliability and quality products.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home10.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Increased Flexibility
                    </div>
                    <div class="reason-body">
                        Whether you're a part-time mom or a work a normal "day job" doesn't matter - it's up to you how much
                        time and effort you put into your business. And you decide when your work.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home11.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        Extensive Online Support Network
                    </div>
                    <div class="reason-body">
                        FLP offers extensive online support from training and seminars, materials to incentives and a
                        helpful staff at regional, national and international levels.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 reason">
                <div class="reason-img">
                    <img src="static/images/home12.PNG" alt="" class="img-responsive">
                </div>
                <div class="reason-content">
                    <div class="reason-header">
                        35 Years of Experience
                    </div>
                    <div class="reason-body">
                        FLP has decades of experience within this industry, which guarantees we have solid management, a
                        strong business plan, motivated distributors and quality products.
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}