{% extends 'base.html' %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Check all forever living products and which one suits you the most">
    <meta name="keywords" content="aloe, aloe vera, products nigeria, forever living products nigeria, true aloe health nigeria">
    <meta property="og:title" content="Forever Living Products">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Check all forever living products and which one suits you the most">
    <meta property="og:image" content="http://truealoehealth.com/static/images/1465838901727ComboImage.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block title %}
    Forever Living Products
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="container">
        <div class="row why-forever">
            <div class="col-xs-12 why-container">
                <h2>Why Forever Living?</h2>
                <hr class="divider">
                <ul>
                    <li><span class="fa fa-thumbs-o-up"></span> Highest Quality Aloe Vera Products</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Most Effective at Affordable Prices</li>
                    <li><span class="fa fa-thumbs-o-up"></span> 15-48% Discounts for Registered Members</li>
                    <li><span class="fa fa-thumbs-o-up"></span> FREE Registration, NO Membership Fee</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Over 35 Years of Experience</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Global Business Opportunity</li>
                    <li><span class="fa fa-thumbs-o-up"></span> Low Investment with Unlimited Income</li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <div class="quote">
    <span><span class="fa fa-quote-left"></span> Nature can do more than physicians <span
            class="fa fa-quote-right"></span></span>
        <br>
        <small>- Oliver Cromwell</small>
    </div>
    <!--ENd of quote-->

    <div class="container products">
        <h1>Forever Living Products: Natural Aloe Vera Products</h1>
        <hr class="divider">
        <img src="/static/images/1465838901727ComboImage.jpg" alt="" class="img-responsive">
        <hr class="divider">
        <p><span class="fa fa-leaf"></span><span class="product-heading"> Aloe Vera Drinks – </span>Enjoy the benefits of aloe vera in several healthy
            varieties of fresh, stabilized aloe vera gel.
            The primary ingredient of all varieties is raw aloe vera gel, which provides a rich supplement to healthy
            nutrition.
            Drink any one of these on a daily basis to assist digestion and absorption of nutrients, to add vitamins,
            minerals
            and amino acids to your diet, and above all, to promote a good, healthy lifestyle. Check out my favorite Forever
            Living Products, my favorite antioxidant drink called Pomesteen Power.</p>

        <p><span class="fa fa-leaf"></span><span class="product-heading"> Nutrition – </span>Our nutritional supplement Forever Living Products are made from
            the finest ingredients, grown or
            collected from the best sources and produced with the most advanced technology. Each product retains its
            original
            nutritional value, encouraging both good health and peace of mind.</p>

        <p><span class="fa fa-leaf"></span><span class="product-heading"> Bee Products – </span>Forever Living Products offers you a remarkable line of 100%
            natural bee products. We use
            state-of-the-art, specially designed equipment to gather and preserve the ingredients in the conditions nature
            intended. All of our bee products – Honey, Royal Jelly, Bee Pollen and Bee Propolis – are natural and
            nutritionally
            rich, from the hives directly to you, just as honeybees have been making them for thousands of years!</p>

        <p><span class="fa fa-leaf"></span><span class="product-heading"> Weight Management – </span>Today, more people than ever are conscious of their
            weight and of living a healthy lifestyle.
            What would you consider to be the ideal diet? It should taste good, be easy to follow, boost energy levels, and
            of
            course, keep the pounds off. Good news! Our range of weight management products assists you in doing that and
            more.
            Let Forever Garcinia Plus, Forever Lean, Forever Fast Break Energy and Forever Lite Ultra help you reach your
            weight
            management goal.</p>

        <br>
        <br>

        <h3>Forever Living Products for the Skin</h3>
        <hr class="trunc-line product-line-2">

        <p><span class="fa fa-female"></span><span class="product-heading"> Aloe Vera Skin Care Products –</span> Our skin is the front line defense in our
            daily fight against pollution and other
            environmental irritants, so we need to protect and reinforce it with extra care. Aloe vera, whose most
            traditional
            use as a natural remedy is to soothe the skin, is an ideal defense. We have designed unique and varied products
            that
            work naturally by moisturizing and providing essential nutrients and vitamins to the skin. Our Forever Living
            Products, aloe vera skin care products can help protect the skin against the environment’s harsh effects, and
            are
            reinforced with the International Aloe Science Council Seal of Approval.</p>

        <p><span class="fa fa-female"></span><span class="product-heading"> Sonya Cosmetics – </span>The Sonya Colour Collection is one of the only aloe vera
            based cosmetic lines in the world that
            delivers skin care and makeup in one. Sonya’s unique combination of natural ingredients, from pure aloe vera and
            antioxidant vitamins, to marine extracts and chamomile, can help protect, nourish and soothe the skin. This
            magnificent collection celebrates the rich colors of life with hues for every skin tone and every mood, and has
            a
            versatility that allows you to easily take your look from day to night. Let Sonya help you take the guesswork
            out of
            looking beautiful! Try the unique aloe vera based cosmetics from Forever Living Products.</p>
        <ul>
            <li></li>
        </ul>
    </div>


    <div class="become-member">
        <h1>
            Become a Member & Enjoy The Benefits! Up to 48% Discounts!
        </h1>

        <p>
            Compare the Savings When Buying 10 Bottles of Aloe Vera Gel!
        </p>

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div">
                            <h3>Non Member</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$186.60</h1>
                        <ul>
                            <li>Registration: None</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: None</li>
                            <li>Total Savings: None</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#shopModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-1">
                            <h3>New Member</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$158.60</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: None</li>
                            <li>Discount: 15%</li>
                            <li>Total Savings: $28</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="#joinModal">Act Now!</a>
                    </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="disc-cont">
                        <div class="up-div up-div-2">
                            <h3>Wholesaler</h3>

                            <p>Ordering 10 piece aloe vera gel</p>
                        </div>
                        <br>
                        <h1>$121.20</h1>
                        <ul>
                            <li>Registration: Free</li>
                            <li>Minimum Order: $100</li>
                            <li>Discount: 35%</li>
                            <li>Total Savings: $65.40</li>
                        </ul>
                    <span class="act-now">
                        <a href="#" data-toggle="modal" data-target="/discounts">Act Now!</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="become-member container">
        <h1>SHOP or JOIN NOW & SAVE 15%-48%!</h1>

        <p>Interested? What Are You Waiting For? There is Nothing to Lose!</p>

        <div class="buy-or-join">
            <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
            <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

            <div class="cards">
                <span class="fa fa-cc-visa"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
            </div>
        </div>
    </div>


    <br>
    <div class="container buy-forever-prod buy-for-2">
        <h3><span class="fa fa-credit-card"></span> Buy Forever Living Products with Discounts</h3>

        <p>Forever Living Products are not sold in stores, you can buy it online. Please enter retail store to purchase your
            selection today. Receive 15% discount on Forever Living Products orders of 50$ or more. For details please visit:
            Forever Living Products Discounts.</p>
    </div>


{% endblock %}