<div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="myModalLabel">
                        Shop Now
                    </h2>
                    <p>Choose Your Country to Shop Forever Living Online</p>
                </div>
                <div class="modal-body">

                    <div class="country-list row">
                        <div class="col-lg-6">
                            <ul>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=AUS&language=En&distribID=234001776922&joinNowPopup">Australia</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=BEL&language=nl&distribID=234001776922&joinNowPopup">Belgium</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PAN&language=es&distribID=234001776922&joinNowPopup">Belize</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=BOL&language=es&distribID=234001776922&joinNowPopup">Bolivia</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=CAN&language=en&distribID=234001776922&joinNowPopup">Canada</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=COL&language=es&distribID=234001776922&joinNowPopup">Columbia</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PAN&language=es&distribID=234001776922&joinNowPopup">Costa Rica</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=CZE&language=en&distribID=234001776922&joinNowPopup">Czech Republic</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=ECU&language=es&distribID=234001776922&joinNowPopup">Ecuador</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PAN&language=es&distribID=234001776922&joinNowPopup">El Salvador</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=GRC&language=el&distribID=234001776922&joinNowPopup">Greece</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PAN&language=es&distribID=234001776922&joinNowPopup">Guatemala</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=HKG&language=en&distribID=234001776922&joinNowPopup">Hong Kong</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=IND&language=en&distribID=234001776922&joinNowPopup">India</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=NGA&language=en&distribID=234001776922&joinNowPopup">Ireland</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=ISR&language=en&distribID=234001776922&joinNowPopup">Israel</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=LUX&language=fr&distribID=234001776922&joinNowPopup">Luxembourg</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=MYS&language=en&distribID=234001776922&joinNowPopup">Malaysia</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=MEX&language=es&distribID=234001776922&joinNowPopup">Mexico</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=NLD&language=nl&distribID=234001776922&joinNowPopup">Netherlands</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=NZL&language=es&distribID=234001776922&joinNowPopup">New Zealand</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PAN&language=es&distribID=234001776922&joinNowPopup">Nicaragua</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=NGA&language=En&distribID=234001776922&joinNowPopup">Nigeria</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PAN&language=es&distribID=234001776922&joinNowPopup">Panama</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PER&language=es&distribID=234001776922&joinNowPopup">Peru</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PHL&language=en&distribID=234001776922&joinNowPopup">Philippines</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=POL&language=pl&distribID=234001776922&joinNowPopup">Poland</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=PRT&language=pt&distribID=234001776922&joinNowPopup">Portugal</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=SGP&language=en&distribID=234001776922&joinNowPopup">Singapore</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=SVK&language=en&distribID=234001776922&joinNowPopup">Slovak Republic</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=ESP&language=es&distribID=234001776922&joinNowPopup">Spain</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=ARE&language=en&distribID=234001776922&joinNowPopup">United Arab Emirates</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=URY&language=es&distribID=234001776922&joinNowPopup">Uruguay</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=USA&language=En&distribID=234001776922&joinNowPopup">USA</a></li>
                                <li><span class="fa fa-map-pin"></span> <a target="_blank" href="https://www.foreverliving.com/retail/entry/Shop.do?store=VEN&language=ES&distribID=234001776922&joinNowPopup">Venezuela</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>