{% extends 'base.html' %}

{% block meta_tags %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Check out top Forever Living Products">
    <meta name="keywords" content="aloe, aloe vera nigeria, top forever living products, forever living products discount, true aloe health discounts">
    <meta property="og:title" content="Top Forever Living Products">
    <meta property="og:site_name" content="TrueAloeHealth.com">
    <meta property="og:description" content="Highly beneficial forever living products at discounted prices">
    <meta property="og:image" content="http://truealoehealth.com/static/images/2-Aloe-Vera-Gelly-gallery-140x95.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri| slice:":-1" }}" />
{% endblock %}

{% block title %}
    Forever Living Top Products
{% endblock %}

{% block content %}

    {% load staticfiles %}

    <div class="container">
        <div class="row why-forever">
            <div class="col-xs-12 why-container">
                <h2>Highest Quality Health & Beauty Products</h2>
                <p>delivered to your door, available online 24/7</p>
                <hr class="divider">
                <ul>
                    <li><span class="fa fa-thumbs-o-up"></span> <b>Aloe Vera Drinks - </b>better digestion & immune system</li>
                    <li><span class="fa fa-thumbs-o-up"></span> <b>Forever Argi Plus - </b>boost nitric oxide, aid cell division</li>
                    <li><span class="fa fa-thumbs-o-up"></span> <b>Forever Artic Sea - </b>maintain healthy cholesterol</li>
                    <li><span class="fa fa-thumbs-o-up"></span> <b>Forever Clean 9 - </b>healthy weight management</li>
            </div>
        </div>
    </div>


    <br>

    <div class="great-way">
        <h1>Find Remarkable Aloe Products for Whole-Body Benefits</h1>

        <p>Turn Back The Time with Our Superior Aloe Vera Products!</p>

        <div class="container">
            <div class="row diff-prod container">
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/1-aloe-vera-gel-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/2-Aloe-Vera-Gelly-gallery-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/3-Forever-Argi-Plus-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/4-Forever-Aloe-Vera-for-immune-system-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/6-Forever-Freedom-building-blocks-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/7-Forever-Lean-2-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/8-Forever-Lean-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/9-Aloe-berry-nectar-Gallery-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/10-Aloe-Propolis-Creme-Gallery-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/11-Forever-Artic-Sea-Gallery-140x95.jpg" alt="">
                </div>
                <div class="col-cs col-lg-2 col-md-3 col-sm-3 col-xs-4">
                    <img src="/static/images/12-Forever-Active-Probiotic-140x95.jpg" alt="">
                </div>
            </div>
            <hr class="divider trunc-line">

            <br>

            <h1>
                Our Products Make the Difference between Feeling GOOD & Feeling GREAT!
            </h1>

            <h3 class="why-not">
                Why Not Try them for Yourself? JOIN Today & SAVE 15% Right Away!
            </h3>

            <div class="buy-or-join">
                <a class="btn btn-default" data-toggle="modal" data-target="#shopModal" href="#">Shop Now</a>
                <a href="#" class="btn btn-custom"  data-toggle="modal" data-target="#joinModal" >Join Now</a>

                <div class="cards">
                    <span class="fa fa-cc-visa"></span>
                    <span class="fa fa-cc-mastercard"></span>
                    <span class="fa fa-cc-paypal"></span>
                </div>
            </div>

            <hr class="divider trunc-line">

            <!-- Top Forever Living Products -->
            <h1>Top Selling Forever Living Products</h1>

            <h3 class="why-not">find out why people are choosing these products</h3>
            <br>

            <div class="row">
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <a href="#" class="reason-header">
                            Aloe Vera Drinks
                        </a>

                        <div class="reason-body">
                            The miraculous aloe leaf contains over 200 different compounds. Enjoy a variety of fresh,
                            stabilized aloe gel in different flavors. The primary ingredient is the pure aloe gel from the
                            center of the aloe leaf.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <a href="#" class="reason-header">
                            Forever Artic Sea
                        </a>

                        <div class="reason-body">
                            Provides a perfect balance of Omega-3 fatty acids in a proprietary blend of natural fish oil,
                            calamari oil and olive oil to better support your cardiovascular system, brain, and eyes. This
                            provides not only 33% more DHA per day, but creates the perfect balance of DHA and EPA for
                            optimal health and wellness.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <a href="#" class="reason-header">
                            Forever Argi Plus
                        </a>

                        <div class="reason-body">
                            Argi+ provides 5 grams of L-Arginine per serving plus synergistic vitamins to give your body the
                            boost it needs to keep going all day long. L-Arginine is an amino acid that plays many important
                            roles in the body, from aiding cell division to building protein and boosting nitric oxide
                            production.
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-lg"></div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <a href="#" class="reason-header">
                            Ever Shield Deodorant
                        </a>

                        <div class="reason-body">
                            This is a very gentle formula containing Stabilized Aloe Vera gel that provides effective,
                            all-day protection against underarm odor in a convenient glide-on stick. Can be applied after
                            shaving or under-arm waxing without stinging. Contains NO harmful aluminum salts. Ideal for men
                            and women.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <a href="#" class="reason-header">
                            Forever Bright Toothgel
                        </a>

                        <div class="reason-body">
                            This non-abrasive formula uses 100% Stabilized Aloe Vera gel and its principal ingredient with
                            the added bonus of Bee Propolis. Fights plaque, keeps breath fresh and benefits the gums and
                            delicate inner lining of the mouth. Contains NO fluoride.
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 reason">
                    <div class="reason-img no-border-img">
                        <img src="/static/images/maxresdefault.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="reason-content">
                        <a href="#" class="reason-header">
                            Aloe First Spray
                        </a>

                        <div class="reason-body">
                            Aloe firs is an excellent addition to any first aid kit. This exclusive skin-soothing formula
                            provides a firs line of defense against minor skin irritations. Formulated in a a base of
                            stablized Aloe Vera gel, Aloe First contains Bee Propolis, Allantoin and 11 exclusive plant
                            extracts.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}